[2013-04-06 12:13] lionel-m opened #31 "Missing informations"
**Reference**
- [x] colorpicker
- [x] csv
- [x] sql (cda7513)

**Insert tags**
- [x] toggle_view (https://github.com/contao/docs/commit/f72fe2436efc9dc1814d79fd54f39f0458fdffe3)

**Hooks**
- [ ] getCountries() (see issue #192)
- [ ] getCombinedFile() (see issue #193)

[2013-10-05 15:51] Wasserschlange opened #81 "Licensing included in docs/manual/README.md but not in docs/README.md"
* License applies specifically to the manual, but does not indicated a license for the docs themselves.
* License should be listed in the docs/README.md which covers usage of  the docs.

[2013-10-15 08:30] senton82 opened #85 "Hook "prepareFormData" missing in docs"
I fell over this very usefull hook by inspecting Form.php in detail and I could successfully solve my problem with it. After a short check I found that it is missing in the docs.

[2013-11-01 22:52] lionel-m opened #89 "Add the "compileFormFields" hook"
Chapter 7
From Contao 3.2.0
Reference: https://github.com/contao/core/commit/ecd2328fd7c410c4eefd9eddd679ff2b9c1bd4ab

[2013-11-01 23:01] lionel-m opened #92 "Add the "getAttributesFromDca" hook"
Chapter 7
From Contao 3.2
Reference: https://github.com/contao/core/commit/f75ed81bfc2093e11b4e74b823613bee28351dcf

[2013-11-15 02:54] tristanlins opened #105 "DCA property list/sorting/header_callback is not documented"
I'm currently developing on DCG and find out that this callback ist not documented. I'm sry that I have no time at the moment to not create a PR... :-\

[2013-11-18 14:35] lionel-m opened #118 "Add the "sqlGetFromDca" hook"
Chapter 7
From Contao 3.2
Reference: https://github.com/contao/core/commit/869812c48c0a90e62515d64ecedcfe5f3a100da9

[2013-11-18 14:50] lionel-m opened #119 "Chapter 1 : Find a better way to explain which options must be selected for the paragraph "Synchronizing files"."
The image of paragraph [Synchronizing files](https://contao.org/en/manual/3.1/installation.html#synchronizing-files) is almost unreadable.

[2013-12-06 09:17] aschempp opened #132 "Documentation for `indexPage` hook is missing"
See https://github.com/contao/core/issues/6518

[2014-03-17 10:50] iCodr8 opened #146 "header_callback nicht in Referenz"
Der header_callback für Sortierungsmodus 4 ist in der Referenz nicht beschrieben.
DCA -> table -> list -> sorting -> header_callback

[2014-04-17 18:55] lionel-m opened #152 "Prepare updates for 3.3"
#### Chapter 4
- [x] New content element - [markdown](https://github.com/contao/core/commit/823bd726beda01c511ca5d4fddf4abc0af6cad98)
- [x] New insert tag flags - [urlencode and rawurlencode](https://github.com/contao/core/commit/c5edd12e07add8fac69844d1d1716efa57789d12)
- [x] [Template inheritance and template insertion](https://github.com/contao/core/commit/2987752222d6458aed2b041d227b482b98ad6c

[2014-06-24 12:54] Aybee opened #162 "Inserttag file für Dateilinks mit UUID"
Hallo Andreas, habe gerade herausgefunden, dass man mit
{{file::UUID}}
z.B.
{{file::18ef1b2d-fb86-11e3-a848-001d090b5b73}}
einen Pfad zu der Datei bekommt. Das ist leider nicht dokumentiert.
https://github.com/contao/docs/blob/3.2/manual/de/04-Managing-content.md#include-elemente
Ich finde da evtl. nicht die richtigen  Worte für und weiß auch nicht, ab welcher Version das geht. Könntest du das bit

[2014-09-02 09:12] lionel-m opened #173 "Add the "getFrontendModule" hook"
Chapter 7
From Contao 2.11.0
Reference: https://github.com/contao/core/commit/fda11832100659440d979eff992e568a13cac842

[2015-01-05 09:08] aschempp commented on #181
@HumanDigital is going to add that as far as I know :-)

[2015-01-05 10:36] HumanDigital commented on #181
First draft done … #182

[2015-01-05 10:48] aschempp commented on #181
Added in bbae58f279bb9ed041d15ef8577b62c99780e042

[2015-01-05 13:05] lionel-m commented on #181
:+1:

[2015-01-14 07:18] aschempp commented on #183
I totally agree with you the information is far from useful. What do you think if we'd build it the same as the hook documentation? https://contao.org/en/manual/3.4/customizing-contao.html#contao-hooks

[2015-01-14 07:20] aschempp commented on #183
Oh by the way, a lot of work has already been done by @es-it
https://github.com/contao/docs/pull/48/files

[2015-01-14 09:32] lionel-m opened #184 "Broken link - Methode find()"
The link `Methode find()` is broken.

https://github.com/contao/docs/blob/3.2/cookbook/de/Models.md

[2015-01-14 09:34] aschempp commented on #184
True, do you think it should link to the API docs?

[2015-01-14 09:53] lionel-m commented on #184
Yes it is a good idea. This is an anchor but there is apparently no paragraph in relation with this link...

api.contao.org - The link has changed?

[2015-01-14 10:12] aschempp commented on #184
Looks like the API documentation has been removed…

[2015-02-11 14:31] lionel-m opened #190 "Remove folder "cookbook/en/custom-module" from 3.x branches"
Not compatible.

[2015-02-11 14:43] lionel-m opened #192 "Add the "getCountries" hook"
Chapter 7
From Contao 2.11
Reference: https://github.com/contao/core/commit/fda11832100659440d979eff992e568a13cac842

[2015-02-11 14:45] #31 closed

[2015-02-11 14:47] lionel-m opened #194 "Add the "customizeSearch" hook"
Chapter 7
From Contao 3.3.0
Reference : https://github.com/contao/core/commit/e77d3fa2b0422086ade6c2c20c3b6ed2fbaa3437

[2015-02-11 14:48] lionel-m opened #195 "Add the "getLanguages" hook"
Chapter 7
From Contao 3.3.0
Reference: https://github.com/contao/core/commit/0c9b3ac5f17ff57899c65dc225727f5d2adedf9b

[2015-02-11 15:06] aschempp commented on #190
@qzminski what should we do with that? https://github.com/contao/docs/blob/3.4/cookbook/en/custom-module/part1.md
Could we merge it into one file only?

[2015-02-11 17:15] qzminski commented on #190
Do what you want. I do not plan to update that tutorial.

[2015-02-11 19:17] lionel-m commented on #85
@aschempp Added in https://github.com/contao/docs/commit/7fb9ec15ba59383817b3f1598aeb89805c402b02 and https://github.com/contao/docs/commit/bbae58f279bb9ed041d15ef8577b62c99780e042

[2015-02-12 21:46] #85 closed

[2015-02-13 12:48] lionel-m commented on #162
@aschempp It can be closed. Thx

[2015-02-13 13:19] #162 closed

[2015-02-18 16:08] lionel-m opened #205 "Add the "getRootPageFromUrl" hook"
Chapter 7
From Contao 2.11.0

[2015-02-18 16:10] lionel-m opened #206 "Add the "getCookie" hook"
Chapter 7
From Contao 2.11.0
Reference: https://github.com/contao/core/commit/db7a0761896820180cd63c6e91c4e22ea01fa07d

[2015-02-21 13:40] #152 closed

[2015-02-22 15:06] lionel-m opened #209 "Syntax highlighting does not work with the HTML language "{.html}"."
See examples [in this section](https://contao.org/en/manual/3.4/managing-content.html#template-inheritance).

[2015-02-26 10:44] aschempp commented on #174
@lionel-m (and anyone else interested in *working* on the documentation) can you please email me at andreas@schempp.ch ?

[2015-02-26 19:50] aschempp commented on #209
This is a server/parser config of @leofeyer, but I'm not sure if it's worth to fix that (regarding #174)

[2015-02-27 09:43] leofeyer commented on #209
@aschempp When are you planning the relaunch?

[2015-02-27 09:53] aschempp commented on #209
I guess it should be together with contao.org…

[2015-02-27 09:56] leofeyer commented on #209
So May 2015. Is this realistic?

[2015-02-27 10:06] aschempp commented on #209
Yes, its not that much work actually. We're not gonna rewrite the manual until then…

[2015-02-27 10:07] leofeyer commented on #209
Ok, then I don't think we should invest time to fix the parser.

[2015-02-27 10:07] aschempp commented on #209
I think so too. Let's keep the issue open though to check on the new system.

[2015-03-07 12:29] lionel-m opened #219 "Improve insert tag "file" with UUID - German translation"
[This update](https://github.com/contao/docs/commit/87cd37e0578049e2f02ea23bbab9ff5be8137770) of the insert-tag `{{file::*}}` was not translated into German.

[2015-03-10 17:23] aschempp commented on #190
@lionel-m I think it will be compatible with GitBook, so I suggest to keep it? Or do you think it should be removed because the information is incorrect?

[2015-03-11 12:00] lionel-m commented on #190
I propose to remove this tutorial from version 3.0 and higher. It is necessary to keep it for the version 2.11 only.

[2015-03-11 12:15] lionel-m commented on #190
Kamil wrote an updated version in his blog. We could add a chapter "external resources".

[code]
@qzminski If you agree of course

[2015-03-11 12:20] aschempp commented on #190
Good point about the external resources, but that would then be part of the new documentation website.

[2015-03-15 18:26] aschempp commented on #222
Wenn du es ausprobierst und berichtest, können wir die Doku ggf. anpassen ;-)

[2015-03-16 11:19] Aybee commented on #222
Ok, hab's getestet. Leerzeichen sind nicht möglich. Muss ich da jetzt noch ein Ticket im core stellen?

[2015-03-17 07:54] aschempp commented on #222
Falls der Satz im englischen falsch ist, ja. Die deutsche Übersetzung erfolgt ja auf Transifex und nicht im Core. Danke für die Prüfung!

[2015-03-17 12:25] Aybee commented on #222
https://github.com/contao/core/issues/7695

[2015-03-28 06:40] aschempp commented on #174
@leofeyer please remove contao.readthedocs.org as we will not maintain it

[2015-03-28 09:33] lionel-m commented on #223
Hi,

* What do you think of changing the term "manual" with "documentation" in order to standardize.
* Do we translate the license or it stays in English? I think it would be better to translate.

Thanks

[2015-03-28 19:48] leofeyer commented on #174
Done.

[2015-03-29 11:19] lionel-m commented on #223
The documentation includes the cookbook, manual, etc. I mixed up these two terms...

It remains the translation of the license or not.

[2015-03-29 11:20] Tastaturberuf commented on #174
Wie sieht denn die Lösung nun aus?

[2015-03-29 11:44] aschempp commented on #223
I did not translate the license, not sure if there are translated versions available, i wouldnt want to translate that myself

[2015-03-29 11:51] lionel-m commented on #223
I think just this part because it is not translated into German. Not Creative Commons part.

License][2] license (CC BY-NC-SA 3.0). If you want to redistribute a modified or
unmodified version of the manual, you can do so under the license terms.

full usage rights of any content you create or upload. You also ensure that your
content does not violate any third-party rights.

contributed content (

[2015-03-30 05:39] aschempp commented on #174
Die Doku wird mit GitBook generiert (allerdings selber, und nicht über deren System). Sobald es was zu sehen gibt werde ich hier berichten.

[2015-03-30 17:44] Aybee opened #227 "Inserttags link::back"
https://github.com/contao/docs/blob/49398e98493e7a811ee98a75fd651d62e54104b4/manual/de/04-Managing-content.md#user-content-link-elemente
Kann man zu link::back ein Beispiel dazu machen? Ich wüsste nicht, wie ich link::back in Verbindung mit link_open:: benutzen sollte. Vielleicht so?
`{{link_open::{{link::back}}}}{{link_close}}`

Auch der Text sollte evtl. geändert werden, da `{{link_back}}` den k

[2015-03-31 09:28] lionel-m commented on #227
`{{link_open::}}{{link::back}}{{link_close}}` :

[code]
But in this case this is equivalent to writing `{{link::back}}`. We can not change "Go back" using `{{link_open::}}` anyway.

[2015-03-31 14:14] aschempp opened #228 "Fix code highlighter for GitBook"
The current code highlighting does not work with GitBook

https://github.com/contao/docs/blob/3.4/manual/CONTRIBUTING.md#code-snippets

Instead of

[code]

we should use plain language names

[code]

Please change all appearances including the CONTRIBUTING.md in the 3.2 branch

[2015-03-31 16:29] Aybee commented on #227
Your code

Is not the same as mine. Watch the nested part. But anyway. I'm only wondering how this help text is ment.

How can we mix this insert tags together?

[2015-03-31 16:40] lionel-m commented on #227
I saw but it does not work. You have to write it like in my example.

[2015-03-31 22:41] Aybee commented on #227
But I can't see an advantage when using this construct.

[2015-04-01 08:15] aschempp opened #229 "Fix social media links in gitbooks"

[2015-04-01 09:28] lionel-m opened #230 "Broken link - Module::compile"
See the link : [Module::compile – Compile the current element](https://github.com/contao/docs/blob/3.3/api/classes/Module/generate.md#see-also)

[2015-04-01 11:30] aschempp commented on #228
see #231

[2015-04-01 11:30] #228 closed

[2015-04-01 12:36] aschempp commented on #230
Not sure what you mean? The API-Docs are not used yet.

[2015-04-01 14:10] lionel-m commented on #230
I just found a broken link [on this page](https://github.com/contao/docs/blob/3.3/api/classes/Module/generate.md#see-also).

[2015-04-01 14:10] #230 closed

[2015-04-02 11:36] lionel-m commented on #227
I found how to write the different variants...

`{{link_url::back}}`  return:
`javascript:history.go(-1)`

`{{link_open::back}}Personalized text{{link_close}}` return:
`<a title="Go back" href="javascript:history.go(-1)">Personalized text</a>`

`{{link_title::back}}` return:
`Go back`

Unfortunately, the second does not change the title attribute. logically it should be:
`<a title="Personalized te

[2015-04-02 13:32] Aybee commented on #227
Then I think we should slightly change the text to "The word 'back' can also be used with "link_open", "link_url" and "link_title" instead an ID."

[2015-04-02 15:19] lionel-m commented on #227
Yes with examples perhaps... I'll make a PR.

[2015-04-02 17:06] Aybee commented on #227
Yes, with examples. Thank you.

related https://github.com/contao/core/issues/7732

[2015-04-09 14:03] aschempp opened #233 "Split manual into chapters"
With gitbook it is now possible to split the manual into "unlimited" number of chapters. I think for the beginning, two levels should be sufficient, so we need to

1. For every current document, create a folder with the name. I would use the `h1` of each document (so localized now) and add the leading number for sorting.
2. Move each document into it's folder and rename it to README.md
3. For ever

[2015-04-12 16:50] lionel-m commented on #233
Hi,

At the moment we have this URL: `***/***/manual/3.x/en/01-Installation.html`
If we make the changes keeping this method we have:

* `***/***/manual/3.x/en/01-Installation.html` (h1)
  * `***/***/manual/3.x/en/01-Installing-contao.html` (h2)
  * `***/***/manual/3.x/en/01-Using-the-safe-mode-hack.html` (h2)

I would like to propose:

* `***/***/manual/3.x/en/installation.html`
  * `***/***/manu

[2015-04-12 17:25] lionel-m commented on #233
[Here the result with the summary file](https://github.com/lionel-m/docs/commit/03ba3a1c7370bc9acdfcebed21a41858fe3be14e) and the number for the chapters.

[2015-04-12 17:59] aschempp commented on #233
I would call the folder `en/01-installation/…`. And the index file must be called `README.md`. So instead of `/en/01/installation.md` it should be `/en/01-installation/README.md`

[2015-04-12 19:36] lionel-m commented on #233
I modified the summary according to your last comment. Is it ok like that?
https://github.com/lionel-m/docs/commit/883f387a8c02e12d157c3a06a6fa82adfe54b21c

[2015-04-13 06:24] aschempp commented on #233
Yes that looks perfect, what do you think?

[2015-04-13 07:12] lionel-m commented on #233
Yes perfect with the number and the name.

[2015-04-13 11:31] lionel-m commented on #233
Here the new structure in French : https://github.com/lionel-m/docs/tree/subchapters/manual/fr

I need to change the URL of each image. Do we keep a global folder "images" for all images or do we create an "images" folder in each chapter folder?

[2015-04-13 11:33] aschempp commented on #233
Technically it does not matter. I think it would be cleaner to move the images to the subfolder. I guess then you also do not need to change the content, right?

[2015-04-13 15:48] lionel-m commented on #233
Yes it's not needed. I will move the images into each sub-folder. Thx

[2015-04-15 11:03] lionel-m commented on #233
I finished the conversion into subchapters. But this will not be possible to change the version 3.4 according to the PR of 3.2... Because the files are new, there is not history. I think this conversion must be done manually for the version 3.4 too. What do you think?

[2015-04-15 11:45] aschempp commented on #233
Its the job of GIT to do that, and to be able to do. We'll see if it works, please create a PR for 3.2 with your changes.

[2015-04-15 12:22] lionel-m commented on #233
It would be great!

I need to change the internal links because the file names have changed and I create the PR.

[2015-04-15 16:42] lionel-m commented on #233
PR created #234

[2015-04-16 07:20] aschempp commented on #233
Closing this in favor of #234

[2015-04-16 07:20] #233 closed

[2015-04-17 15:13] aschempp commented on #229
Actually invalid, the links are to *share* not to link to us.

[2015-04-17 15:13] #229 closed

[2015-04-17 19:23] lionel-m commented on #235
Version 3.2

[2015-04-20 06:57] aschempp commented on #235
The correct link would be http://github.github.com/github-flavored-markdown/

[2015-04-20 08:11] lionel-m commented on #235
Thanks. The PR #236 solve this problem too.

[2015-04-20 09:28] aschempp commented on #235
Thanks!

[2015-04-24 17:18] lionel-m opened #241 "Update "themes" chapter in German and French"
This sentence was deleted in English (ref. https://github.com/contao/docs/commit/2958dc74249b3f37a6ee4ddcdca22bb004307f5f):

Path : `manual/de/03-seiten-verwalten/themes.md`

I will create a PR for the French chapter

[2015-04-25 13:59] lionel-m opened #244 "Internal links with accented characters do not work."
For example the link "Composants d'un thème" in `/fr/04-gestion-du-contenu/modeles.html`.

[2015-04-27 15:34] aschempp commented on #244
Can you point me to a page in the manual? It seems to work in the table of contents?

[2015-04-27 15:56] aschempp commented on #241
Is there something to do for me here?

[2015-04-27 16:41] lionel-m commented on #241
No, I can do it. I thought it was necessary to modify a sentence but no...
I close this ticket in favor of a PR.

[2015-04-27 16:41] #241 closed

[2015-04-27 16:47] lionel-m commented on #241
See #245

[2015-04-27 17:02] lionel-m commented on #244
I deleted all the accented characters in the table of contents in French or converted in German (e.g. methoden-ueberschreiben.md). So it's ok in this part of the doc.

Try for example to follow this link "Composants d'un thème" in Gestion du contenu -> Modèles.

Thanks

[2015-04-27 19:50] aschempp commented on #227
see #239

[2015-04-27 19:50] #227 closed

[2015-04-27 19:57] aschempp commented on #209
Works fine with GitBook :-)
https://docs.contao.org/books/manual/3.4/de/04-inhalte-verwalten/templates.html

[2015-04-27 19:57] #209 closed

[2015-04-27 19:59] aschempp commented on #207
see https://github.com/contao/docs/blob/3.4/api/hooks/getForm.md

[2015-04-27 19:59] aschempp commented on #205
see https://github.com/contao/docs/blob/3.4/api/hooks/getRootPageFromUrl.md

[2015-04-27 19:59] #205 closed

[2015-04-27 20:00] aschempp commented on #193
see https://github.com/contao/docs/blob/3.4/api/hooks/getCombinedFile.md

[2015-04-27 20:01] aschempp commented on #192
see https://github.com/contao/docs/blob/3.4/api/hooks/getCountries.md

[2015-04-27 20:01] #192 closed

[2015-04-27 20:01] aschempp commented on #174
see https://docs.contao.org :-)

[2015-04-27 20:04] aschempp commented on #81
The license file is now part of the root folder
https://github.com/contao/docs

[2015-04-27 20:04] #81 closed

[2015-04-27 20:04] aschempp commented on #244
Looks like a GitBook issue…

[2015-04-27 20:12] xchs commented on #174
:+1:

Thanks a lot for the exceptional work and for the efforts you have put in creating this new documentation.

[2015-04-28 15:16] lionel-m commented on #192
@aschempp : I did not see that there was these information. This is a good news. But we should not close these tickets because we have to complete the Contao hooks chapter in three languages before.

[2015-04-28 15:30] lionel-m commented on #244
I will create a ticket on the GitBook repository...

[2015-04-28 15:35] lionel-m opened #249 "Broken links in the Cookbook"
The links "contributing guidelines" and "license information" are broken in the Cookbook introduction file.

[2015-04-28 15:37] aschempp commented on #192
The developer documentation should only be in english in my opinion…

[2015-04-28 15:38] aschempp commented on #244
I dont think thats necessary, I can investigate that sometimes. Or is it very urgent?

[2015-04-28 15:45] lionel-m commented on #244
No it is not urgent.

[2015-04-29 06:46] aschempp commented on #249
Fixed in cb263dc89891476905b7e0c1cdca2b0d98b34fa5

[2015-04-29 06:46] #249 closed

[2015-04-29 07:27] aschempp commented on #190
I have now added it to the cookbook: https://docs.contao.org/books/cookbook/en/custom-module/part1.html

I think external resources should be part of the website and not a book, but lets start a new ticket for that.

[2015-04-29 07:27] #190 closed

[2015-05-03 19:15] aschempp commented on #244
I have added a plugin that adds automatic click-links for each headline. Please see the current 3.2 manual for example. They seem to work for me in french too, can you please try if that solves the problem?

[2015-05-04 08:17] lionel-m commented on #244
No it does not work.

[2015-05-04 13:48] bezin opened #250 "[3.2] getSearchablePages hook has wrong signature"
Hei there,

the getSearchablePages hook has the wrong signature in the docs for version 3.2. It has two parameters ($arrPages and $intId), but that is not the case here: https://github.com/contao/core/blob/master/system/modules/core/classes/RebuildIndex.php#L74

However it is called with four parameters in https://github.com/contao/core/blob/master/system/modules/core/library/Contao/Automator.php#

[2015-05-05 18:21] lionel-m opened #251 "Prepare updates for 3.5"
- [x] Select multiple checkboxes by holding down the SHIFT key (#7781). (https://github.com/contao/docs/commit/9c12dd9ac3f59f8b826ea6d2e72b5d4dd9c86b6a)
- [x] New front end module "change the password" (#7418). (https://github.com/contao/docs/commit/ee766b2fae138c1befc9df8b785f5b9d483ab619)
- [x] New "picture" insert tag (#7635 and #7718). (https://github.com/contao/docs/commit/9eb5737edd664a79ead

[2015-05-06 07:57] aschempp commented on #250
Thanks for reporting. We have started a new hook documentation a while ago and can now finally start to use it (thanks to the new https://docs.contao.org). Do you think it works like this?
https://github.com/contao/docs/blob/master/api/hooks/getSearchablePages.md

[2015-05-08 20:44] xchs opened #252 "Optimize the website for viewing on mobile devices"
When reading the manual on a mobile device in portrait mode, it could well be that the sharing icons on the right side wrap to the next line which might lead to the following rendering:

![screenshot_2015-05-08-11-00-17](https://cloud.githubusercontent.com/assets/1218766/7544873/89b187c6-f5d1-11e4-812a-a4b9c1534c1d.png)

whereas in landscape mode it looks just fine:

![screenshot_2015-05-08-11-00-

[2015-05-08 20:44] xchs opened #253 "Language selection headline"
After choosing a particular manual you will be prompted to select the preferred language:

![screenshot_2015-05-08-11-02-12](https://cloud.githubusercontent.com/assets/1218766/7544565/789c462c-f5ce-11e4-81f0-cdf71c661b0b.png)

Shouldn't we write the headline in English, too? Something like "Please select a language" for instance.

[2015-05-08 20:45] xchs opened #254 "Add a link for the headline and manual icon"
Would you mind linking the headline as well as the icon to the corresponding manual?

![screenshot-docs contao org 2015-05-08 21-28-46](https://cloud.githubusercontent.com/assets/1218766/7544194/4c6f1a50-f5cb-11e4-8cb9-b988de328d60.png)

I always click on the manual icon and nothing happens :)

[2015-05-11 06:44] aschempp commented on #252
see https://github.com/rtCamp/gitbook-plugin-edit-link/pull/6

[2015-05-11 06:45] aschempp commented on #253
That appears to be a problem in GitBook, only since we added the french version…

[2015-05-11 10:59] bezin commented on #250
Thanks the link. I wasn't aware of the new Contao docs, but they look great. Thanks for the work. I think it works way better like this :)

[2015-05-11 10:59] #250 closed

[2015-05-12 06:44] aschempp commented on #254
I've added a link on the whole content :-)

[2015-05-12 06:44] #254 closed

[2015-05-12 06:47] aschempp commented on #255
This is because it is automatically added to the PDF. I think the only solution to remove it would be not having it in the intro, but then it would probably also be gone on the website (I can try a trick though). What do you think?

[2015-05-12 09:51] lionel-m opened #261 "Add a margin between the end of the content of each page and the disqus module"
If possible

[2015-05-12 13:18] aschempp commented on #252
Fixed with the latest version of the plugin.

[2015-05-12 13:18] #252 closed

[2015-05-12 13:19] xchs commented on #252
Thanks a lot.

[2015-05-12 13:22] xchs commented on #254
It's better still. Thank you.

[2015-05-12 21:13] aschempp commented on #261
Currently I can't (or I don't know how to) add custom CSS to the book. Obviously this is somehow possible, but I didn't find the time for the details yet ;-)

[2015-05-14 18:11] lionel-m commented on #261
We can add custom style sheets with the `book.json` file
[code]

http://help.gitbook.com/format/configuration.html#styles

[2015-05-14 18:12] lionel-m commented on #255
I perhaps find the solution with #262

[2015-05-15 17:21] #251 closed

[2015-05-16 06:54] aschempp commented on #251
Awesome job!

[2015-05-16 09:12] lionel-m commented on #251
Thanks :)

[2015-05-17 17:41] lionel-m commented on #255
@aschempp It does not work...

[2015-05-31 11:33] bezin opened #279 "Suggestion: document file containing the hook as well"
Hei,
I was wondering, if it would be helpful to document the file containing the hook as well. It could look something like this:

// entry
### colorizeLogEntries
The "colorizeLogEntries" hook is triggered in the label callback for tl_log entries.
It passes an array holding the current row data and the current label and expects a
HTML string as return value. You can use it to generate custom label

[2015-05-31 11:35] aschempp commented on #279
Absolutely, see the *References* section in https://github.com/contao/docs/blob/master/api/hooks/activateAccount.md for example.

[2015-05-31 17:47] bezin opened #282 "[3.5] add newsListCountItems hook to api documentation"

[2015-05-31 17:48] bezin opened #284 "[3.5] add postAuthenticate hook to api documentation"

[2015-05-31 17:49] bezin opened #285 "[3.5] add getPageStatusIcon hook to api documentation"

[2015-05-31 17:50] bezin commented on #279
Ok, I will follow your example for my contributions to the new hook documentation.

[2015-05-31 18:20] aschempp commented on #279
Btw. I have added [the richquotes plugin](https://github.com/erixtekila/gitbook-plugin-richquotes#gitbook-plugin--transform-annotated-quotes-to-notes) to our GitBook build process. I suggest using `**Tag**` to make the version information more obvious. Only for the version in the API folder though, as there is not really enough room in the manual.

[2015-05-31 18:28] aschempp commented on #281
see https://github.com/contao/core/commit/a9e21702c943751deb512e9de47a1687110f03f4 for a reference

[2015-05-31 18:31] aschempp commented on #279
Also be aware that the developer documentation (including new api/hooks) is in english only. So it will make contributing missing hooks easier and not require @lionel-m to translate everything to french ;-)

[2015-06-01 09:44] bezin commented on #279
+1 for the version tagging. Anyhow I am confused now: shall all new hook documentations go to the api docs from now on? I would transfer the two hooks I documented on the weekend to those new docs as well. And the different api docs for different contao versions will be maintained by different branches as we maintain the manual right now?

[2015-06-01 13:42] aschempp commented on #279
well I guess that depends on when we can release such a book. There is no real structure for a book yet, so I / we need to figure out what's best. I don't think a book only for hooks makes sense. So maybe it should contain all of the API stuff.

Regarding the different branches: no. As there is a version information, I don't think we should have different versions. We should only use the master br

[2015-06-02 20:10] aschempp commented on #92
Added in #277

[2015-06-02 20:10] #92 closed

[2015-06-03 08:50] bezin commented on #279
I wasn't suggesting a distinct hook documentationm, I totally agree with your suggestion to have an api doc with all "API stuff". What is left to release this new book? Until then, I assume we have to add recently documented hooks to both the manual(s) and the new api docs?

I also agree with the only-master-branch approach.

[2015-06-03 08:57] aschempp commented on #279
Well adding to the manual is a lot more effort, especially because it "requires" translation. I would prefer to rather spend that time on the API docs.

What should the API book contain in your opinion? We could for example also move the whole DCA configuration from the manual over there. But I'm not sure if documenting all classes and methods is worth it.

Btw, maybe we could discuss that in the

[2015-06-03 09:19] bezin commented on #279
True, I wouldn't mind adding hooks to the API docs only and spend more time on examples rather than the German translation. So +1 from me for focusing on the new api docs.

Yes, DCA reference for instance. I think we should improve the callbacks section as well by adding some examples and not just listing them. I always have to lookup callback handling in the core to get an idea of how one can use

[2015-06-03 09:31] aschempp commented on #279
The callbacks should certainly be styled the same as hooks. I have started an entry page at https://github.com/contao/docs/blob/master/api/callbacks.md, but there's no content yet.

#48 already contains a lot of content from @eS-IT which was never merged.

[2015-06-03 17:24] fiedsch commented on #279
Using the Mumble call (18. June) is certainly a good idea. As far as I'm concerned: I hope I can join (I'm on vacation and do not know if I have WiFi).

I should find some time this weekend and will prepare some input for the hooks.

@bezin These are the hooks I found to be missing: https://gist.github.com/fiedsch/892dfb88ffcf1fbf9abe. Could you let me know which ones you have on your list so we d

[2015-06-04 19:39] nkirstein opened #290 "DCA reference: input type "upload" is not documented"
The form file upload widget from `system/modules/core/forms/FormFileUpload.php` has been around for a long time but it never seems to have made it into the DCA documentation. I'd like to suggest the following additions to the DCA reference:

#### Fields

Key | Value | Description
--- | ----- | -----------
inputType | Field type (<code>string</code>) | ...<br>...<br>__upload__ File upload

#### Eva

[2015-06-04 20:27] aschempp commented on #290
Be aware that the upload field does only work in the frontend. I think the DCA reference currently refers to the backend configuration. What do you think?

[2015-06-05 07:15] cliffparnitzky commented on #290
Yeap, i agree to @aschempp ... DCA is backend ... die frontend formfield is described in section [4.6 Form fields](https://github.com/contao/docs/blob/master/manual/en/04-managing-content/forms.md#form-fields)

[2015-06-05 07:35] nkirstein commented on #290
You're right, I got this mixed up because I'm using the DCA to add an upload form field to the Personal Data frontend module.

[2015-06-05 08:35] aschempp commented on #290
We should add a documentation about these widgets too, but not in the DCA config. Let's keep this open for the API book.

[2015-06-08 12:12] lionel-m commented on #279
Thanks! I also wish to participate in this Mumble call.

[2015-06-08 18:35] aschempp commented on #279
Great!

[2015-06-09 08:28] bezin commented on #279
@fiedsch sorry for not answering the last days. As far as I oversee things, only the getAttributesFromDca hook is already documented. Feel free to document the others :)

And I do agree on the input by @eS-IT. We should document callbacks like hooks with an index page and one subpage per callback.

[2015-06-10 13:44] aschempp commented on #295
`git blame` says "added" in https://github.com/contao/core/commit/2ae714b52c7b1476755fc3b42e2c7001ff89266b which means it was there since at least Contao 3.0 …

[2015-06-10 13:48] bezin commented on #295
Thanks! That should be close enough :D

[2015-06-10 15:03] Toflar commented on #295
2.11 - https://github.com/contao/core/issues/3182

[2015-06-10 15:52] bezin commented on #295
Perfect, thanks a lot. I'll add it to the documentation

[2015-06-11 07:18] bezin commented on #295
Well, confusion at its best: the "storeFormData" hook I wanted to document is not in the 3.2 manual, but in the new hook documentation. BUt the "prepareFormData" hook, which is documented in the manual, is not in the new api docs.

Backport or not?

[2015-06-11 07:24] aschempp commented on #295
When I started the new hook documentation about two years ago, I didn't use the existing documentation but started mostly from scratch. That's why it's likely they are not identical.

I wouldn't bother backporting if we can get the hook documentation online within reasonable time (let's say until the camp :-)).

[2015-06-12 06:48] aschempp commented on #219
see #291

[2015-06-12 06:48] #219 closed

[2015-06-12 07:09] aschempp commented on #279
I also just re-discovered pull request #143 that adds a lot of drafts for existing hooks. Maybe we can re-use that for the new documentation :-)

[2015-06-14 12:35] cgpro opened #298 "Manual Links"
https://contao.org/de/manual.html
... the links don't work anymore. (all versions)

https://contao.org/de/manual/3.4/data-container-arrays.html#referenz
-> Die angeforderte Seite "de/manual/3.4/data-container-arrays.html" existiert leider nicht.

[2015-06-15 13:05] aschempp commented on #298
Unfortunately, there's nothing I can do about the old site. @leofeyer has to fix that after the holidays.

Anyways, I suggest you use the new documentation at https://docs.contao.org

[2015-06-15 13:14] leofeyer commented on #298
The issue will resolve automatically as soon as we have relaunched the website (scheduled for next week).

[2015-06-17 06:18] bezin opened #301 "Add prepareFormData hook to api documenatition"
As mentioned in #295, this hook is missing in the api docs

[2015-06-17 07:12] bezin commented on #295
I'll close that here, because the original issue is obsolete and anything else should be discussed in the public mumble call tomorrow :)

[2015-06-17 19:48] aschempp commented on #295
:+1:

[2015-06-18 12:18] aschempp commented on #279
Quick reminder about the call tonight ;-)

If anyone does not know how to use Mumble, there's a tutorial in the wiki (unfortunately only in german):
http://de.contaowiki.org/Mumble_Installation

[2015-06-18 18:10] aschempp opened #304 "External resources"
- http://contao.wiki
- http://blog.qzminski.com/article/create-a-custom-module-the-basics.html

[2015-06-21 09:51] cgpro commented on #298
Don't forget to redirect the old links (SEO) ;-)

Thanks!

[2015-06-21 09:51] #298 closed

[2015-06-22 20:24] bezin commented on #285
I documented it already, but I pushed some commits to master for another PR instead of creating a new branch. If I start a PR on this issue Github takes all the commits from master as well. Any suggestion how I may fix this?

[2015-06-22 20:25] bezin commented on #281
Same here as in #285. It's done, but I have to clean up my repo first before opening a PR :)

[2015-06-22 20:33] aschempp commented on #285
It's pretty easy, but it depends on the GIT client you're using. In SourceTree, you can simply checkout any commit, which will result in a HEAD branch. You can then create a new branch based on current HEAD.

[2015-06-23 13:51] bezin opened #309 "Future Of The Cookbook"
Hei there,

I just wanted to check if there are any future plans for the cookbook? I like it and would love to i) extend it and ii) translate some of the german content into english as well. But before I do that, I wanted to check if it is desired or if you already have other plans for the cookbook, @aschempp, @lionel-m, @fiedsch, @all?

[2015-06-23 14:00] aschempp commented on #309
Absolutly, that would be great!

Here's how I see the current books

 - **manual** => the user manual (not technical)
 - **cookbook** => collection of short tutorials all around Contao. Currently technical, but not necessary limited to that (though we would then need to come up with a clear separation)
 - **api** => new API reference guide. I'm currently working on a draft for the summary (what it

[2015-06-23 15:59] fiedsch commented on #309
+1 for @aschempp's outline.

In addition I like the idea of having the "main" (or master or whatever you want to call it)  documentation of the technical parts in english as you have to be able to read texts in that language as a developer. Currently is seems we have most documentation in german and some of it translated to german.

What is your opinion on that?

[2015-06-23 16:26] aschempp commented on #309
There is some german content of the cookbook, which was contributed at the Contao Camp in 2013. If someone would translate that, I'm all in for only having that in english.

Be aware that some of the content is meanwhile outdated or no longer best practice, so before someone starts anything we should create issues for each chapter to discuss them.

[2015-06-23 19:25] lionel-m opened #311 "API - references"
Under references, the links are targeted to the branch 2.11.7

    https://github.com/contao/core/blob/2.11.7/system/modules/registration/ModuleRegistration.php#L496

Should we use the master branch?

    https://github.com/contao/core/blob/master/system/modules/core/modules/ModuleRegistration.php#L498

[2015-06-23 19:59] aschempp commented on #311
I don't think so. The master branch will change over time and the links will break. It makes more sense to link to a specific version and maybe add another link to a second version if something has changed (e.g. the hook parameters)

[2015-06-23 20:24] bezin commented on #309
+1 for the one-issue-per-chapter approach. I would translate that stuff into english afterwards. I agree with @fiedsch that english only should be enough since you have to be familiar with that language anyways, when developing.

+1 for @aschempps' outline  as well.

[2015-06-23 20:28] lionel-m commented on #311
Yes so we can use preferably the LTS versions for that... I'll update the links with the 3.5 version.

[2015-06-23 20:34] lionel-m commented on #309
:+1:

[2015-06-24 08:13] aschempp commented on #309
@bezin feel free to start any issue for a topic you want to translate. Pick the one you prefer most to start with ;-)

[2015-06-24 08:16] aschempp commented on #309
Also be aware that there is also a still-unfinished chapter at https://github.com/contao/docs/pull/126. Maybe someone wants to finish and translate that too.

[2015-06-24 09:11] bezin commented on #309
@aschempp I'd start with the Models Chapter. I'll open an issue later today.

[2015-06-24 14:03] lionel-m commented on #311
I'm not sure [here](https://github.com/contao/docs/blob/master/api/hooks/getCacheKey.md#references) for the first link:

[code]
Is this correct? I have not found other references...

[code]

Thanks

[2015-06-24 21:01] aschempp commented on #311
It is, but maybe it would make sense to show both links? like *index.php in Contao 2.11-3.2* / *FrontendIndex.php in Contao 3.3+*

[2015-06-25 11:10] lionel-m commented on #311
I continue like this: Ok?

[code]
Examples are sometimes different between versions. We must also add several examples? The number of parameters can change too.

[2015-06-25 11:20] aschempp commented on #311
I don't know if the `FrontendTemplate` changed significantly, so the version with headlines has the disadvantage of potentially listing the same thing multiple times without differences. My initial thought was like this:

[code]

Your version might be clearer though… But if you say "from 3.3" then we should also link to the 3.3 version.

[2015-06-25 11:53] lionel-m commented on #311
The code can be (~)identical but the disadvantage is that the folders structure changes...

I propose to highlight only the LTS versions. A link for 2.11, 3.2 and 3.5. The structure of the page remains the same and clear. What do you think?

[2015-06-26 08:29] aschempp commented on #311
well that would need we need to update the links more often. On the other hand, there is no reason (from a release-cycle perspective) to keep the old LTS links. So we could also simply use links for only Contao 3.5 everywhere?

[2015-06-26 15:52] lionel-m commented on #311
I totally agree with you :)

[2015-07-15 13:39] #285 closed

[2015-07-16 12:20] aschempp commented on #253
Has been fixed meanwhile (probably due to my pull request at https://github.com/GitbookIO/gitbook/pull/757)

[2015-07-16 12:20] #253 closed

[2015-07-16 12:21] aschempp commented on #196
Fixed with https://github.com/contao/docs/pull/278

[2015-07-21 09:00] bezin commented on #301
https://github.com/contao/docs/commit/d5f6dd0c0a227afc57a95f63703fc730e9d3a144

[2015-07-21 09:00] #301 closed

[2015-07-30 02:29] ciaobello opened #317 "I dont know if I'm right here .. On https://docs.contao.org/en/ Cover for 3.5 still marked as beta."
Probably would be a good idea to remove the "beta" mark from the Conto 3.5 book cover and add the outdated on 3.2.

[2015-07-30 07:47] aschempp commented on #317
True. But as soon as we do that, the manuals for Contao 3.2 and 3.4 will go unmaintained. Not sure if that's too early?

/cc @lionel-m @bezin @fiedsch

[2015-07-30 11:08] ciaobello commented on #317
Probably it just needs a new tag for 3.2: "transmission" and some explanations what the tags mean.

[2015-07-30 15:51] fiedsch commented on #317
I don't know how the labels are generated, and thus how much work it would be to change or extend them, but how about labels like "current LTS" that describe the status of the release?

[2015-07-30 15:53] aschempp commented on #317
The labels are created by me. They are limited due to the available width, and obviously there can only be one. It does not make sense to mark Contao 3.5 as LTS in my opinion if it's the only supported version (except if there would be a Contao 4 manual).

[2015-07-31 17:11] discordier opened #318 "[3.5] System requirements are incorrect."
The system requirements are noted to be the same as for Contao 3.4 however this is definately not true. :)

See https://community.contao.org/de/showthread.php?58418-Migration-fehlgeschlagen&p=378851&viewfull=1#post378851

[2015-08-02 18:43] lionel-m commented on #317
I propose to separate them into two groups. Is the ribbon necessary?

![capture d ecran 2015-08-02 a 20 22 30](https://cloud.githubusercontent.com/assets/814476/9027389/3a80f652-3954-11e5-8847-d165409fcf9e.png)

[2015-08-02 20:37] mathContao opened #319 "DCA-Referenz: "isDownloads" fehlt"
https://docs.contao.org/books/manual/3.4/de/06-data-container-arrays/referenz.html

DCA-Referenz: "isDownloads" unter Evaluation fehlt. Ich weiß nicht, welche genauen Auswirkungen es hat. Ich geh davon aus, dass es nur mit dem fileTree verwendet werden kann und dass "isDownloads" in eval dazu führt, dass die Datei zum Download im Browser angeboten wird (true) bzw. im Browser geöffnet wird bzw. die

[2015-08-07 11:45] aschempp commented on #261
Fixed in 435d203dd984a762ef02631723ce287e1300af2d

[2015-08-07 11:45] #261 closed

[2015-08-07 13:41] aschempp commented on #317
I have now marked 3.5 as "current" and all others as beta. I liked the idea of @lionel-m but it does not really make sense if they are all outdated. Also be aware of the mobile version where the items will be a horizontal slider (and two headlines would mean two sliders).

[2015-08-07 13:41] #317 closed

[2015-08-07 13:44] aschempp commented on #279
The new API book is published: https://docs.contao.org/books/api/extensions/hooks/index.html

[2015-08-07 13:44] #279 closed

[2015-08-07 15:08] falkoschumann opened #320 "Toggle code use deprecated API"
The code in cookbook/de/Toggle-Funktion-in-eigenen-Erweiterungen.html use deprecated API:

- `generateImage`
- `createInitialVersion`
- `createNewVersion`

[2015-08-07 15:28] ciaobello commented on #317
+1

[2015-08-26 18:13] lionel-m opened #324 "Hook examples need to be reviewed"
References are related to the version 3.5 but examples are related to the version 2.11.7. There may be differences such as new parameters for example.

[2015-09-09 17:30] lionel-m commented on #311
All references are based on version 3.5

[2015-09-09 17:30] #311 closed

[2015-09-24 20:39] Aybee opened #335 "It's hard to detect links in text with theme Sepia"
Ist mir gerade hier aufgefallen https://docs.contao.org/books/manual/3.5/de/01-installation/contao-installieren.html dass man (ich) die Links so gut wie gar nicht im Text erkennen kann.

"über das Extension Repository" ist eigentlich gar nicht zu erkennen und "Contao Official Demo" ist nur italic.

Kann man da noch was mit CSS machen um die irgendwie hervorzuheben? Ich denke ein einfaches `text-de

[2015-09-25 03:24] fiedsch commented on #335
Aus meiner Sicht sind die Links "blau genug" -- auch, wenn sie nicht gerade ins Auge springen. Vielleicht wäre eine weiter Option (neben "Hell", "Sepia" und "Nacht" z.B. "Hoher Kontrast") eine Option.

[2015-09-25 10:41] aschempp commented on #335
Das Design kommt (bisher) nicht von uns sondern direkt von @gitbook. Falls jemand ein eigenes Theme erstellen und betreuen will können wir gerne was anpassen, aber mir fehlt definitiv die Zeit dazu.

[2015-09-25 11:11] Aybee commented on #335
Blau? Ah ok, ich hatte gar nicht gesehen, dass man dort auch Themes auswählen kann. **Das Ticket betrifft nur das Theme Sepia.**

@aschempp Vielleicht kannst du das Theme Sepia ganz deaktivieren oder ein anderes Theme dafür nehmen, oder Sepia kopieren und mit unterstrichenen Links wieder einsetzen, falls das nicht zuviel Arbeit ist.

Falls du einen Link zu einem Ticketsystem für das Theme hast, ka

[2015-09-25 14:55] aschempp commented on #335
Ich hab keinen Link, aber Google findet bestimmt was ;-)

[2015-09-25 22:09] Aybee commented on #335
Ticket erstellt https://github.com/GitbookIO/gitbook/issues/949

[2015-09-26 06:58] aschempp commented on #335
Thanks!

[2015-09-26 06:58] #335 closed

[2015-10-07 08:17] bezin opened #337 "add buttons_callback for selectAll and editAll views to callback documentation"
The extension generator includes two templates for callback that are not documented yet:

[code]

With these callbacks its possible to add buttons after selecting and editing multiple datasets, eg. the "Generate Alias" button in tl_page.

[2015-10-09 14:29] bezin commented on #319
Mit 'isDownloads' und 'isGallery' wird die Darstellung des FileTree Widgets im Backend kontrolliert. Wird im Downloads-Inhaltselement unter Quelldateien ein Ordner ausgewählt, wird nicht der Ordner angezeigt, sondern alle im Ordner enthaltenen Dateien. Gleiches gilt für das Galerieinhaltselement.

[2015-10-12 07:02] #284 closed

[2015-10-12 10:24] bezin commented on #183
We have several issues commenting on the callback documentation style as well as a PR with a proposed solution. I started working on #337 and came across that issue again, because those callbacks are hard to document within the current structure. The callack documentation as it is right now is rather useless. As already proposed, I agree with a documentation style similar to the hooks documentatio

[2015-10-12 11:23] aschempp commented on #183
If you want to take a lead in rewriting the callback documentation, that would be awesome! To me it does not matter if we continue on the branch or not, whatever is easier to you :-)

[2015-10-13 09:48] bezin commented on #183
I'll start with that and see, how far I get ;)

[2015-10-13 11:25] aschempp commented on #183
yay!

[2015-11-02 14:50] aschempp commented on #318
Meanwhile fixed: https://docs.contao.org/books/manual/3.5/en/01-installation/configuring-the-live-server.html

[2015-11-02 14:50] #318 closed

[2015-11-02 14:55] aschempp commented on #146
Meanwhile added in https://docs.contao.org/books/api/dca/callbacks.html#listing-callbacks

[2015-11-02 14:55] #146 closed

[2015-11-02 14:56] aschempp commented on #105
Meanwhile added in https://docs.contao.org/books/api/dca/callbacks.html#listing-callbacks

[2015-11-02 14:56] #105 closed

[2015-11-02 14:57] aschempp commented on #193
Available at https://docs.contao.org/books/api/extensions/hooks/getCombinedFile.html

[2015-11-02 14:58] aschempp commented on #173
See https://docs.contao.org/books/api/extensions/hooks/getFrontendModule.html

[2015-11-02 14:58] #173 closed

[2015-11-02 14:58] aschempp commented on #172
see https://docs.contao.org/books/api/extensions/hooks/getArticle.html

[2015-11-02 14:58] aschempp commented on #132
see https://docs.contao.org/books/api/extensions/hooks/indexPage.html

[2015-11-02 14:58] #132 closed

[2015-11-02 14:59] aschempp commented on #118
see https://docs.contao.org/books/api/extensions/hooks/sqlGetFromDca.html

[2015-11-02 14:59] #118 closed

[2015-11-02 14:59] aschempp commented on #89
see https://docs.contao.org/books/api/extensions/hooks/compileFormFields.html

[2015-11-02 14:59] #89 closed

[2015-11-02 15:00] aschempp commented on #206
The hook is actually called `setCookie`. See https://docs.contao.org/books/api/extensions/hooks/setCookie.html

[2015-11-02 15:00] #206 closed

[2015-11-09 17:29] lionel-m commented on #255
@aschempp I propose to remove the TOC in the "Introduction" chapter. The online menu can accomplish this task and the TOC will be generated in the PDF. It solves this issue...

[2015-11-09 18:26] aschempp commented on #346
Unfortunately, that’s a problem in the plugin, and there is no GitHub/Open Source version to easily fix and contribute. But I’ll look into it somewhen

[2015-11-09 18:26] aschempp commented on #255
I agree, I thought about this too recently

[2015-11-09 19:03] lionel-m commented on #346
Is this ? https://github.com/GitbookIO/plugin-versions

[2015-11-09 19:12] aschempp commented on #346
Yes! I was too stupid to find it :D

[2015-11-19 14:13] aschempp commented on #350
@leofeyer ?

[2015-11-19 14:17] leofeyer commented on #350
There is no official statement yet. We have dropped support for IE8 but we have not discussed whether we want to support IE9+ or IE10+.

I'd vote for IE10+.

[2015-11-19 14:23] lionel-m commented on #350
I am also for IE10+.

[2015-11-20 12:59] aschempp commented on #350
I am a friend of progressive enhancements. Things should work but they don't need to be fancy in older browsers. No idea what that would mean ^^

[2015-11-20 15:26] leofeyer commented on #350
:LOL:

[2015-11-24 08:48] aschempp commented on #346
https://github.com/GitbookIO/plugin-versions/pull/1

[2015-11-24 20:17] Mynyx opened #353 "User Manual Version 3.5 Abschnitt 5.1 Benutzer und Gruppen"
Im User Manual zur Version 3.5 ist auf der Seite 5.1 Benutzer und Gruppen im Abschnitt Pagemounts (https://docs.contao.org/books/manual/3.5/de/05-systemadministration/benutzer-und-gruppen.html#pagemounts) ein Link "Zugriffsrechte", der allerdings auf https://docs.contao.org/books/manual/3.5/de/03-seiten-verwalten/module.html#zugriffsschutz zeigt.

In dem Abschnitt Pagemounts geht es um die Rechte

[2015-11-24 20:25] aschempp commented on #353
Der Link müsste wohl hierhin?
https://docs.contao.org/books/manual/3.5/de/03-seiten-verwalten/seitentypen.html#zugriffsrechte

[2015-11-24 20:29] Mynyx commented on #353
Der Screenshot ist außerdem auch noch aus der alten Demo.

[2015-11-29 15:40] lionel-m commented on #324
- [ ] activateAccount
- [ ] activateRecipient
- [ ] addComment
- [ ] addCustomRegexp
- [ ] addLogEntry
- [ ] checkCredentials
- [ ] closeAccount
- [ ] colorizeLogEntries
- [ ] compileArticle
- [ ] compileDefinition
- [ ] compileFormFields
- [ ] createDefinition
- [ ] createNewUser
- [ ] executePostActions
- [ ] executePreActions
- [ ] generateBreadcrumb
- [ ] generateFrontendUrl
- [ ] generatePage

[2016-01-02 15:25] no-one commented on #350
Keep in mind, that MS will drop support for older versions of IE soon: https://support.microsoft.com/en-us/lifecycle#gp/Microsoft-Internet-Explorer

[2016-01-04 17:38] aschempp commented on #350
Just because they are not supported does not mean they are not in use ;-)

Personally I don't see a reason to drop any support. If something does not work, then we just need to check wether it's necessary or just a gimmick in all browsers. I don't care if the rows are colored on hover in IE9, but the buttons should work (as a general example)…

[2016-01-16 02:09] Aybee opened #364 "missing the domain target for the installation"
On this page
EN - https://github.com/contao/docs/blob/4.0/manual/en/01-installation/installing-contao.md
DE - https://github.com/contao/docs/blob/4.0/manual/de/01-installation/contao-installieren.md
I'm missing the hint, that the domain has to be rooted to the Contao_ROOT/**web**/ folder and not to the Contao_ROOT/ folder.

[2016-01-19 10:31] aschempp commented on #364
You're right about this. Any suggestions for a description or a chapter about it? Be aware that the `/web` folder is only necessary for live installations, not for `localhost` or `app_dev.php`.

[2016-01-19 17:56] Aybee commented on #364
I don't know enough about installing C4 and its variations regarding live, localhost, app_dev.php... So its up to you to decide.

I've had many troubles after installing C4 live on apache. No symlink for /files, no chance to delete or even see symlinks with FileZila. I only was able to completely delete my installation with SSH on command line.

[2016-02-03 15:28] aschempp commented on #366
why would you use tinyCustom for everything and not just change tinyMCE ?

[2016-02-03 16:21] Aybee commented on #366
If I change tinyMCE.php, it's not update safe.

[2016-04-22 13:53] fritzmg commented on #366
That's not recommended, since these changes will get lost during an update. The recommended way is described here in the official Contao cookbook: https://docs.contao.org/books/cookbook/customizing-contao/customizing-tinymce.html

[2016-04-22 14:02] fritzmg opened #369 "create 4.1 branch and increase PHP minimum requirement"
As discovered in contao/standard-edition#37 the minimum requirements for Contao 4 have changed in Contao 4.1. The current manual for Contao 4.0 lists PHP __5.4.0__ as the minimum requirement » https://github.com/contao/docs/blob/4.0/manual/en/01-installation/configuring-the-live-server.md.

However, in Contao 4.1 that has changed to PHP __5.5.0__. This should probably be reflected in the documenta

[2016-04-22 14:44] aschempp commented on #366
Please create a pull request for the necessary changes, but make sure to follow PSR-2 coding style.

Also be aware that this is no longer necessary in Contao 4, as the tinyMCE file is now a template that will not be overwritten on update.

[2016-05-18 09:30] OMOSde opened #374 "Add Callback 'panel_callback'"
It seems to be missing

[2016-05-24 09:25] aschempp commented on #369
I suggest we add a Contao 4.2 book once its released and simply skip 4.1… 4.0 will then wander into the outdated secion.

[2016-05-25 19:57] lionel-m opened #376 "Problem with the languages drop-down list"
To reproduce the problem, select the Contao 4 manual and a language. The drop-down list displays Contao 4. Then select a chapter and the drop-down list will change to display Contao 3.5 (fortunately we are not redirected to the Contao manual v3.5).

[2016-05-26 15:41] lionel-m opened #378 "Contao compatibility in the cookbook."
Some chapters are compatible with Contao 2 and the others with Contao 3 etc. It would be nice to add a compatibility information or find an alternative solution.

We can create a cookbook for Contao 3.x and another for Contao 4.x and we specify the compatibility with the minor releases e.g. "Compatible with Contao from 3.2 to 3.5" in each chapter.

[2016-05-26 15:42] lionel-m commented on #378
@christianromeni cc for information after discussion in https://github.com/contao/docs/pull/375#issuecomment-221751042.

[2016-05-27 06:31] aschempp commented on #378
I would suggest to add comments like we do in hooks for the version information? https://github.com/contao/docs/blob/master/api/extensions/hooks/addLogEntry.md

[2016-05-27 07:49] christianromeni commented on #378
To be honest... I would recommend that every version would get its own. Reason behind this, is that it might be easily overseen that this function is only working in a specific version.

Also, if I know what version I'm working with, I would always first check the version, then the functionality.
Its the same in the manual.

[2016-05-27 08:57] aschempp commented on #378
The cookbook is usually developer related, and the changes for developers in minor releases are so small it does not really make sense to start a new cookbook.

[2016-06-15 12:07] Aybee opened #379 "Missing tl_class on reference eval"
Missing tl_class on
https://docs.contao.org/books/api/dca/reference.html#evaluation
https://github.com/contao/docs/edit/master/api/dca/reference.md

it is mentioned here
https://docs.contao.org/books/api/dca/palettes.html#arranging-fields
https://github.com/contao/docs/edit/master/api/dca/palettes.md

[2016-06-16 12:40] aschempp commented on #379
see #380

[2016-06-16 12:40] #379 closed

[2016-06-16 15:05] Aybee commented on #379
Thank you very much.

[2016-06-27 13:31] aschempp commented on #376
That problem was fixed in the plugin (see my PR at https://github.com/GitbookIO/plugin-versions/pull/1). However, the old books like Contao 3.4 are not updated anymore and did not get the fixed version of the plugin… Are you sure the problem happened in the 4.0 manual?

[2016-06-27 15:34] aschempp commented on #376
Also see #346 :D

[2016-06-27 15:35] aschempp commented on #353
Behoben in e048a36e2bb0a72d5e0bdce1c28509951be177a7

[2016-06-27 15:35] #353 closed

[2016-06-27 15:40] lionel-m commented on #376
Yes

Of course it is a new problem ;)

But I retested now and I have `pageTr` after clicking on a chapter...

![capture d ecran 2016-06-27 a 17 38 35](https://cloud.githubusercontent.com/assets/814476/16385663/06f0b60e-3c8e-11e6-9c0d-f26c273be3ec.png)

[2016-06-27 15:47] aschempp commented on #369
The book for Contao 4.2 is now available and updated.
https://docs.contao.org/books/manual/4.2/

[2016-06-27 15:47] #369 closed

[2016-06-27 15:50] fritzmg commented on #369
PHP Intl extension is still missing under https://docs.contao.org/books/manual/4.2/en/01-installation/configuring-the-live-server.html

[2016-06-27 15:55] lionel-m commented on #376
And the icons for anchor links are no longer displayed.

[2016-06-29 13:14] aschempp commented on #369
I'm not aware that Intl is a requirement? @leofeyer

[2016-06-29 13:18] fritzmg commented on #369
Yes, see https://github.com/contao/check/issues/95

[2016-06-29 13:26] aschempp commented on #369
Thanks for the info! Can you provide a pull request for the necessary adjustments?

[2016-06-29 13:27] fritzmg commented on #369
Yes, will do when I have the time :). Want to add a few other things as well.

[2016-06-29 14:52] lionel-m commented on #369
👍

[2016-06-29 22:39] Aybee opened #389 "Insert tag page:: for all fields?"
Hallo, habe gerade festgestellt, dass `{{page::cssClass}}` die CSS-Klasse der Seite ausgibt, obwohl dieser Insert Tag nicht dokumentiert ist.

Ist es denn so, dass damit tatsächlich jedes Feld aus tl_page ausgegeben werden kann? Wenn ja, dann könnte man das in der Doku vielleicht noch ergänzen.

Trifft das vielleicht auch noch auf andere Gruppen von Insert Tags zu? Evtl. auf `user::`?

[2016-06-30 06:41] aschempp commented on #389
Das ist korrekt, siehe auch https://github.com/contao/docs/pull/240. Leider hatte @Teetrinker seinen Pull-Request damals nicht fertigstellen.

[2016-06-30 12:24] Aybee commented on #389
Ah, ok. Das hier würde dann reichen:

[2016-06-30 20:33] fritzmg commented on #369
Btw. shouldn't PHP extensions like `SOAP` be removed from the requirements, since there is no Extension Repository anymore? Also technically you do not need `Phar` I think - though you need it for composer of course.

Not sure about `mbstring` and `mcrypt`.

[2016-07-01 06:35] aschempp commented on #369
Please create new issues or preferably pull requests, this one is for another topic and already closed.

[2016-07-03 11:38] fritzmg opened #393 "[4.2] remove some PHP requirements?"
Since the Extension Repository is not part of Contao 4 anymore, can the `SOAP` requirement be dropped from the documentation?

Also since there is no Live Update in Contao 4, the `Phar` requirement could also be dropped - however you need that to run `composer.phar` of course.

I am not sure whether `mbstring` and `mcrypt` are still in use.

[2016-07-03 18:25] xchs commented on #393
The new Contao Manager, however, would still need the `Phar` extension (see https://contao.org/de/news/informationen-zum-contao-manager.html).

[2016-07-04 06:12] aschempp commented on #393
`mcrypt` is used by the `Encryption` class, if someone would encrypt a field. The core does not, but an extension might do that. Therefore it's still a requirements.

`mbstring` is also required for UTF-8 support.

[2016-07-04 06:12] aschempp commented on #393
Oh, and `SOAP` certainly **can** be dropped for Contao 4 manual.

[2016-07-04 06:17] aschempp commented on #389
Ja, ich denke sowas würde reichen :-)

[2016-07-15 10:23] fritzmg commented on #393
closing in favor of #392

[2016-07-15 10:23] #393 closed

[2016-07-19 11:05] DyaGa opened #396 "Insert tag {{post::}} is missing in docs"
There is no information about {{post::}} insert tag in docs. It was added in version 3.0.

[2016-08-04 18:06] lionel-m opened #400 "Update all pictures with the new back end design"

[2016-08-04 18:06] lionel-m commented on #400
Cool ;)

[2016-08-05 14:42] lionel-m commented on #401
Do you have an example?

[2016-08-05 15:51] aschempp commented on #401
see https://docs.contao.org/books/manual/4.2/en/01-installation/installing-contao.html for the warning, info and danger boxes.

[2016-08-05 16:45] lionel-m commented on #401
Sorry but you say for changing for example `Warning` with a more relevant title depending of the content box?

[2016-08-06 10:11] lionel-m commented on #376
Everything is solved after you have updated GitBook and Plugins 👍

[2016-08-06 10:11] #376 closed

[2016-08-06 11:48] #184 closed

[2016-08-06 11:49] #244 closed

[2016-08-10 18:57] aschempp commented on #401
For french, there is currently no "Warning" at all (or at least not a french version). We might also add customized titles, but I don't know if that is worth the effort?

[2016-08-10 19:55] lionel-m commented on #401
It is sometimes difficult to find a customized title... I prefer to keep the keywords.

[2016-08-11 09:07] aschempp commented on #401
Fine with me. Then please add the french versions (check out the german manual) :-)

[2016-08-11 09:30] lionel-m commented on #401
It's done

[2016-08-11 12:37] aschempp commented on #401
Closed in favor of #406

[2016-08-17 07:57] aschempp commented on #401
FYI, I have updated the styles so the headline is inline, I think it looks way better now :-)
https://docs.contao.org/books/manual/4.2/en/01-installation/installing-contao.html

[2016-08-17 08:01] lionel-m commented on #401
Yes good idea !

[2016-08-17 08:05] aschempp commented on #401
I actually stole it [from PayPal](https://developer.paypal.com/docs/classic/ipn/integration-guide/IPNIntro/) 😝

[2016-08-22 12:14] lionel-m opened #408 "Update the front-end-structure.jpg image"
It would be better to create a new image for [front-end-structure.jpg](https://github.com/contao/docs/blob/master/manual/en/03-managing-pages/images/front-end-structure.jpg).

I propose to replace the legends with numbers and the legends will be added in the content below the image.

Which page can we use as an example? The same picture (Music Academy)?

[2016-08-29 07:08] aschempp commented on #408
Good idea. I think we can use the new Contao Demo, can we?

[2016-08-29 08:37] lionel-m commented on #408
I will create a specific page with the same structure as the actual image used and we keep the text as it stands. Ok for you?

[2016-08-29 10:57] aschempp commented on #408
Absolutely!

[2016-08-31 08:18] aschempp commented on #408
Closed in favor of #411

[2016-08-31 08:18] #408 closed

[2016-08-31 16:22] lionel-m commented on #400
Resolved in #407, #411 and #412

[2016-08-31 16:22] #400 closed

[2016-09-03 17:08] lionel-m commented on #378
We can close this issue for the moment (?)

[2016-09-03 20:59] #378 closed

[2016-09-07 18:47] Mynyx opened #420 "[4.2] URL-Suffix nicht dokumentiert"
Es fehlt eine Information darüber, wie man in Contao 4.2 das URL-Suffix konfigurieren kann.

[2016-09-26 06:11] aschempp commented on #420
Das wäre wohl ein Artikel für's Cookbook. Magst du den schreiben? Ich kann dich gerne dabei unterstützen 😊

[2016-09-30 19:09] lionel-m commented on #396
Resolved in 77c86617885e3332e072a4c77b60a436ab16c7f4

[2016-09-30 19:09] #396 closed

[2016-10-04 09:38] lionel-m opened #428 "Cookbook - Create a custom Contao module"
I would be helpful to rewrite [this tutorial](https://docs.contao.org/books/cookbook/en/custom-module/part1.html) to make it compatible with Contao 4.

WDYF?

[2016-10-05 14:26] aschempp commented on #428
That tutorial was actually for Contao 2.x and is very much outdated. It's just kept for reference because a lot of the information still applies. And it still does for Contao 4. I've asked @qzminski before and he didn't want to update the tutorial…

[2016-10-05 15:12] qzminski commented on #428
Indeed I am not willing to continue that work.

[2016-11-10 10:10] recharde opened #435 "How to a data view in Frontend template in contao"
I just try that if i add my name in a template in backend then how i view that name in frontend, and next if i change my name in backend then its automatically change in frontend view.

[2016-11-10 10:25] fiedsch commented on #435
I don't quite get your question.

* you do change a template in the backend
* then you want to see the changes you made in the frontend

I see two situations that might cause "problems"

* the template you changed is not used for generating the frontend page you visit
* an old version is still available in Contao's cache (see System -> Maintenance -> Purge the page cache)

[2016-11-10 10:29] recharde commented on #435
No You cant understand my question, just suppose i make a workflow in Backend where i give a html tag and write my name, now how i can show this name in frontend, suppose example in BackEnd i write "Hello World" then how i see it in FrontEnd ?

[2016-11-10 18:56] xchs commented on #435
Please refer to the [forum](https://community.contao.org/) for this kind of questions. I cannot see how this issue is related to the `contao/docs` repository.

[2016-11-15 07:59] #435 closed

[2016-11-15 21:31] lionel-m commented on #119
This image will be removed in #426

[2016-11-15 21:31] #119 closed

[2016-11-17 12:41] lionel-m commented on #195
See https://github.com/contao/docs/blob/master/api/extensions/hooks/getLanguages.md

[2016-11-17 12:41] #195 closed

[2016-11-17 12:42] lionel-m commented on #194
This hook is noted in the [README file](https://github.com/contao/docs/blob/master/api/extensions/hooks/README.md) so I close this ticket.

[2016-11-17 12:42] #194 closed

[2016-11-17 12:43] lionel-m commented on #197
This hook is noted in the [README file](https://github.com/contao/docs/blob/master/api/extensions/hooks/README.md) so I close this ticket.

[2016-11-22 19:29] lionel-m commented on #304
@aschempp : Instead of creating a new section in the documentation, we could create a new repository on github in the same idea as an "[awesome list](https://github.com/sindresorhus/awesome)". We can add blog articles etc. It's quicker to maintain and people can contribute easily by creating tickets or PRs. WDYT?

[2016-11-22 21:25] aschempp commented on #304
where do you see the difference between *a folder* and *a new repo*?

Also I wonder if we need this at all. I guess we should add the wiki to the external resources on docs.contao.org? The other link has already been copied to the cookbook, right?

[2016-11-22 22:23] lionel-m commented on #304
I'm not just talking about the two links above... I propose to create a list of external resources in a markdown file and maintained in a new repository. Then we will create a link on docs.contao.org under "External Resources" to this repository like the "YouTube Channel".

[2016-11-22 22:35] lionel-m commented on #304
Of course we can create this list in a new folder in this repository. Then we will create a link on docs.contao.org under "External Resources" to this list like the "YouTube Channel".

I'm not just talking about the two links above but a list of useful external resources we can find on the web. We can ask on the DE/FR/EN forums to contribute.

[2016-11-23 08:22] aschempp commented on #304
Ah, I see. But we could as well push that list to the website directly, or would you not do that? Maybe not really a new book, but something similar?

On the other hand, I wonder if that's not something we should put in the Wiki and let people curate it? And simply link from the docs website to that Wiki page?

[2016-11-23 08:33] aschempp commented on #304
FYI I just added a link to the wiki on docs.contao.org
I don't really like it though, as there are also different links on https://contao.org/en/support.html

Maybe we should just link to that page for general support links? What do you think?

[2016-11-23 09:14] lionel-m commented on #304
Yes it's better 👍

[2016-11-23 09:40] lionel-m commented on #389
Resolved in #436 and #437

[2016-11-23 09:40] #389 closed

[2016-11-27 18:23] aschempp commented on #304
I have update the docs.contao.org page, like it like this?

[2016-11-27 18:43] lionel-m commented on #304
Perfect like that 👍

[2016-11-27 18:44] #304 closed

[2016-11-29 12:06] lionel-m commented on #364
Resolved in #438

[2016-11-29 12:06] #364 closed

[2016-11-29 12:08] lionel-m commented on #350
Resolved in #440

[2017-04-13 07:43] bezin opened #454 "Document postFlushData hook"
I just stumpled upon the postFlushData hook in the [Template](https://github.com/contao/core/blob/master/system/modules/core/library/Contao/Template.php#L312-L319) class, that is not documented yet. Just leaving this here as a note :)

[2017-05-17 11:35] m-vo opened #457 "developing a reusable bundle inside the managed edition"
I don't know if this fits here but I wanted to document it somehow:

---
**Goal:** develop a new reusable bundle (that can be used in the managed edition).

If you are in a standard edition project, you can simply develop somewhere, add an autoload section to your ``composer.json`` and register the bundle in the ``AppKernel``. If you want to develop inside a managed edition environment, this does

[2017-05-18 15:53] aschempp commented on #457
What you are describing is actually not related to Contao. You're trying to register a Composer package without providing it on packagist.com. There are tons of ways to achieve that, including the one you mentioned. The bundle is not really reusable though as long as you do not put it on packagist.com.

The managed edition allows for the following:
 1. If a class `AppBundle\AppBundle` exists (is f

[2017-05-18 16:25] m-vo commented on #457
Tons of ways locally without having to update on every change? I know that what I wrote does not cover registering it on packagist or even making it available in a repo at that point but it allows for a seamless development (before even releasing it). From a short look in the code I assumed that the managed edition only looks at bundles listed in ``install.json`` which would exclude your second po

[2017-05-18 16:33] aschempp commented on #457
There can only be one `AppBundle` and one `ContaoManagerBundle` per application/installation. The `ContaoManagerBundle` can register bundles, e.g. if you load Symfony bundles. See the `contao/manager-plugin`: https://github.com/contao/manager-plugin/blob/master/src/PluginLoader.php#L123

Also make sure the class is found by registering it in your composer.json
[code]

[2017-05-18 16:59] m-vo commented on #457
Allright, I thought you meant the plugin class for contao manager living inside each bundle.

My version only works for contao bundles. But I think I get the point for the single ``ContaoManagerPlugin`` to restore some ``AppKernel`` functionality.  So you basically would implement ``BundlePluginInterface`` / ``RoutingPluginInterface`` / ... and so on there to config loading the bundles, right?

[2017-05-19 12:49] aschempp commented on #457
Yes, except for the `ConfigPluginInterface`. You can also do that, but it does not make much sense because the application can also have an `app/config/config.yml` that is automatically loaded.

You're also right, if the bundle is reusable and has it's own composer.json, it should also have it's own plugin.

Also check out our custom Contao edition at https://github.com/terminal42/contao-standard/

[2017-05-19 13:42] m-vo commented on #457
Thanks for the link to your fork, that looks promising.  :-)

I'll write a cookbook article about this as soon as I'll find some time (and am a bit more familiar with how it works). No really, I'll be glad to help 😃.

btw.: The cookbook currently looks pretty Contao 3.5 centric (or earlier / outdated). Are there any plans to restructure this to have the relevant bits together? And as there are not

[2017-05-20 06:17] NicolasGoerlach opened #458 "https / css / pagespeed"
The Docs are broken, css files cannot load over https, same as some fonts, and there is also a pagespeed problem (not defined).
![bildschirmfoto 2017-05-20 um 08 17 35](https://cloud.githubusercontent.com/assets/8327905/26273678/ce4ea92a-3d34-11e7-842b-f5fddabcd995.png)

[2017-05-22 06:49] NicolasGoerlach commented on #458
can be closed, works fine now.

[2017-05-22 06:49] #458 closed

[2017-05-22 07:45] aschempp commented on #457
The cookbook is supposed to be only in german. The articles can be anything, that's the point about a cookbook, but you're right there is practically nothing about Contao 4 (because unfortunately almost nobody contributes documentation :( ). The german articles are just leftovers and I didn't want to delete them without a replacement.

[2017-05-22 11:20] m-vo commented on #457
You mean english, right? :-)

[2017-05-22 11:21] aschempp commented on #457
I'm sorry, yes I mean english only :D

[2017-09-01 16:12] CMSworker opened #465 "[4.4] Contao Manager: Missing info in system requirements"
Hello, in the docs of the Manager there should be added some notes about the requirements (feel free to correct wrong assumptions):

- PHP-CLI required (Command Line Interpreter)
- 1,5 GB RAM required, so not to be used in most of the currently offered shared web hosting environments

Maybe the last point should be added as a warning, because the hosting requirements are currenty only supported by

[2017-09-13 15:28] m-vo commented on #457
closing in favor of #463

[2017-09-13 15:28] #457 closed

[2017-11-01 10:59] aschempp commented on #465
The problem with this is, that there is no "correct" version. PHP-CLI is not necessary required, the manager actually works with a PHP-CGI version as well (it might be slower though). It is however required to be able to execute this, but honestly I doubt that someone reading the manual will be aware what that means…

Also, the memory limit very much depends on the number of extensions installed.

[2017-11-18 10:00] mlwebworker opened #470 "Fehler in der Beschreibung der Installation"
Unter "The Contao install tool" in der ersten Zeile steht noch install.php.
Muss es als Issues machen. Wie ein Pullrequest in fremden Repositorys geht, Da sehe ich ehrlich gesagt noch nicht ganz durch.

[2017-11-18 10:15] mlwebworker commented on #470
Ich habe das jetzt mal händisch in allen drei Sprachvarianten direkt auf Github geändert. Ich bin mir allerdings sicher, dass das anders und auch einfacher geht. Vielleicht mag mich da mal jemand einweisen. Direkt zur Änderung vorschlagen ist auf jeden Fall, gerade bei solchen Kleinigkeiten die schnellste Lösung.

[2017-11-18 10:21] fiedsch commented on #470
Das klont das Repostitory und macht die Änderung dann in Deiner Kopie (https://github.com/mlwebworker/docs). Dann musst Du daraus ("irgendwie") auch noch einen Pull-Request machen. Ich sehe aber auch in Deinem Klon nichts davon. Vielleicht fehlt noch der Commit?

[2017-11-18 10:52] mlwebworker commented on #470
Ich glaub jetzt ist es zu sehen. Irgendwie noch ungewohnt alles. Vor allem wenn man kein Entwickler ist und sonst eher allein arbeitet.
Ist es so, dass die Doku in drei vollständig eigenen Zweigen gepflegt wird oder gibt es dort gerade für sprachunabhängige Bereiche auch eine Art Automatismus.

[2017-11-22 16:45] issue-bot opened #474 "[RTM] Display form fieldsets as wrappers in the backend view."
Acidentally moved.

[2017-11-22 16:46] #474 closed

[2017-11-22 16:46] issue-bot opened #475 "{{picture::*}}-Inserttag not using width and height parameter"
<a href="https://github.com/UB3RL33T"><img src="https://avatars2.githubusercontent.com/u/21123031?v=4" align="left" width="42" height="42"></img></a> [Issue](https://github.com/contao/core/issues/8814) by @UB3RL33T
November 21st, 2017, 12:35 GMT

Using the Picture-Tag I have noticed that, even if there are width and height parameters passed, the image will be displayed with it's natural width and

[2017-12-25 10:16] mathContao opened #479 "[3.5.] [4.4] any information about "LTS""
In version 3.5 and 4.4 are no information what it means "LTS"

In my opinion there should be some short information in chapter Introduction:
"it is a LTS version (long term support). This version is supported by bugfixes from Juni 2017 till June 2020 and by a extended support till June 2021 (only security fixes)".
A link to the release plan page is also helpful to understand the LTS releases: http

[2017-12-25 10:47] mathContao opened #480 "[4.4] extension repository?"
How to install extensions in Contao 4.4? ER2 is not available for version 4.4, is it?

The documentation is just for version 3.x I think:
https://docs.contao.org/books/manual/4.4/en/05-system-administration/extensions.html

[2017-12-25 12:37] mathContao opened #481 "How to push changes into docs?"
Hello,

how can I push my changes to that documentation?
- I checked out the master branch.
- Made some changes (2 screenshot changes)
- committed it
- push error message: https://mathContao@github.com/contao/docs.git: git-receive-pack not permitted

[2017-12-26 10:14] mathContao opened #482 "multinational search results: broken"
Hello,

I searched in the German documentation about "composer" (as example) and got 2 results from English documentation and 1 result from German documentation. I clicked on a English result: it is not working. I clicked and clicked and clicked.... nothing works. Just the URL is growing...
https://docs.contao.org/books/manual/4.4/de/01-installation/01-installation/01-installation/01-installation/

[2017-12-26 10:34] mathContao opened #483 "contao-manager, core-bundle, installation-bundle, managed-edition, core"
There are different packages on Github and different terms for a Contao installation:
- Conta manager
- Core bundle
- installation bundle
- managed edition
- core

There should be a short overview an description about that different installation packages.
(f.e. on that overview site: https://docs.contao.org/books/manual/4.4/en/01-installation/)

On that page is just a short hint which packages to

[2018-01-08 08:18] aschempp commented on #481
https://github.com/contao/docs/blob/master/CONTRIBUTING.md

[2018-01-08 08:18] #481 closed

[2018-06-19 12:05] issue-bot opened #493 "Provide a default .htaccess configuration"
<a href="https://github.com/leofeyer"><img src="https://avatars0.githubusercontent.com/u/1192057?v=4" align="left" width="42" height="42"></img></a> [Comment](https://github.com/contao/manager-bundle/pull/58#issuecomment-373415085) by @leofeyer
March 15th, 2018, 15:24 GMT

It was quite a heated discussion and eventually we agreed on providing an example configuration in the docs and adding a link

[2019-02-18 12:34] sheeep opened #1 "Documentation: Authentication"

[2019-02-18 12:34] sheeep opened #2 "Documentation: Authorization"

[2019-02-18 12:35] sheeep opened #3 "Documentation: Autoloading"

[2019-02-18 12:35] sheeep opened #4 "Documentation: Content Elements"

[2019-02-18 12:35] sheeep opened #5 "Documentation: Cron Jobs"

[2019-02-18 12:36] sheeep opened #6 "Documentation: Data Container"

[2019-02-18 12:41] sheeep opened #7 "Documentation: Folder Structure"

[2019-02-18 12:41] sheeep opened #8 "Documentation: Hooks"

[2019-02-18 12:42] sheeep opened #9 "Documentation: Insert Tags"

[2019-02-18 12:42] sheeep opened #10 "Documentation: Manager"

[2019-02-18 12:44] sheeep opened #12 "Documentation: Templates"

[2019-02-18 12:44] sheeep opened #13 "Documentation: Translations"

[2019-02-18 12:45] sheeep opened #14 "Documentation: Web Developer Toolbar"

[2019-02-18 12:45] sheeep opened #15 "Reference: Commands"

[2019-02-18 12:46] sheeep opened #16 "Reference: Bundle Configuration"

[2019-02-18 12:46] sheeep opened #17 "Reference: Data Container"

[2019-02-18 12:47] sheeep opened #18 "Reference: Events"

[2019-02-18 12:48] sheeep opened #19 "Reference: Hooks"

[2019-02-18 12:48] sheeep opened #20 "Reference: Insert Tags"

[2019-02-18 12:48] sheeep opened #21 "Reference: Manager API"

[2019-02-18 19:51] #8 closed, assigned to nobody

[2019-02-19 09:32] fritzmg opened #22 "Documentation: RTE"
The DCA reference explains how to define an rte for a textarea, typically `ace` or `tinyMCE`. We should also document how to customize the editor's configuration (`be_tinyMCE.html5` template) and how to create and assign custom configurations (`be_tinyCustom.html5` - if this still actually works, I am not sure).

The editor options do not need to be documented, we can link to the documentation of

[2019-02-19 11:47] #9 closed, assigned to sheeep

[2019-02-19 11:47] #4 closed, assigned to sheeep

[2019-02-19 11:47] sheeep opened #23 "Documentation: Caching"

[2019-02-19 13:44] #15 closed, assigned to sheeep

[2019-02-19 17:27] #12 closed, assigned to sheeep

[2019-02-19 17:45] #14 closed, assigned to sheeep

[2019-02-19 18:55] Toflar opened #24 "Link callbacks in Caching section"
The `caching.md` contains something along the lines of

You can simply register to the `oninvalidate_cache_tags_callback` and add your own tags.

I think it would be great if that was directly cross linked to the respective callbacks once they are documented.

[2019-02-19 18:56] #23 closed, assigned to Toflar

[2019-02-19 20:27] #17 closed, assigned to fritzmg

[2019-02-19 21:50] #24 closed, assigned to fritzmg

[2019-02-19 22:03] fritzmg opened #25 "tabs / tabbed content"
e.g.

* https://kubernetes.io/docs/contribute/style/hugo-shortcodes/#tabs
* https://discourse.gohugo.io/t/code-tabs-widget/975/6

(https://github.com/matcornic/hugo-theme-learn/issues/70)

[2019-02-19 22:27] Toflar opened #26 "Your first bundle"

[2019-02-19 22:51] Toflar opened #27 "Managed Edition"

[2019-02-19 23:23] #6 closed, assigned to fritzmg

[2019-02-20 07:47] fritzmg opened #28 "Cookbook: Creating Your Own Dca"
Cookbook entry for creating your own table from scratch.

[2019-02-20 07:52] fritzmg opened #29 "Cookbook: Extending Contao"
May be use an example where the following tasks are shown:

* adding a field to an existing DCA (includes the `PaletteManipulator`)
* using a DCA callback
* using a Hook
* using the new field in a template

Though may be that is too much at once.

[2019-02-20 08:16] fritzmg opened #30 "Documentation: PaletteManipulator"

[2019-03-29 10:53] #27 closed, assigned to Toflar

[2019-03-29 11:32] #26 closed, assigned to Toflar

[2019-05-30 18:21] simonreitinger opened #33 "Documentation: Model / Collection"
- [x]  Methoden erklären
- [x]  Customization
- [x]  Registrierung von Models

[2019-06-05 21:48] fritzmg opened #35 "Centralized link collection"
Check if we could manage some sort of centralized link collection for external links, so that the can be udpated more easily. See https://github.com/netzarbeiter/contao-docs/pull/32#discussion_r289709699

[2019-06-14 16:18] fritzmg opened #36 "Contao Image Processing"
Damit meine ich jetzt nicht die Erklärung der Responsive Image Funktion etc. (die gehört natürlich auch in das Handbuch) sondern ich finde man sollte im Handbuch ein wenig auf die unterstützten Image Libraries und deren Unterschiede eingehen. Also GD, Imagick & Gmagick. Unterschiede & Vorteile. Und wie man im Zweifelfall per Konsole überprüfen kann, was nun von Contao tatsächlich automatisch verwe

[2019-06-15 10:18] simonreitinger opened #37 "{{% expand %}} Formatierung in Callbacks"
![params](https://user-images.githubusercontent.com/26705426/59550079-d9802180-8f66-11e9-87d6-4882013e79d3.png)

Ist die Formatierung bei den Parametern so gewollt oder fehlt mir eine Erweiterung damit das Markdown im Expand greift?

Falls nicht, würde ich das gerne anders formatieren, z.B. als Tabelle.

[2019-07-14 13:26] #30 closed, assigned to fritzmg

[2019-07-16 15:25] fritzmg opened #40 "Insert Tags aktualisieren"
Today I noticed, that for example not all Insert Tag flags that are documented in the old documentation do not exist anymore (see https://github.com/contao/contao/issues/585).

I'll look over it and update everything accordingly (just as I did with hooks and callbacks) :)

[2019-07-22 15:00] fritzmg opened #41 "Documentation: Annotations"
* [x] hooks
* [x] DCA callbacks
* [x] content element & front end module controllers

[2019-07-22 15:01] fritzmg opened #42 "Reference: use annotations in hooks"
See https://github.com/netzarbeiter/contao-docs/issues/41 & https://github.com/contao/contao/pull/540

[2019-07-23 08:40] fritzmg opened #43 "Manual: step-by-step guide"
@netzarbeiter darüber haben wir ja schon mal geredet - also dass es Sinn machen würde eine Art Step-by-Step guide in das Handbuch zu integrieren, wo man durch das Grundsetup von Contao geführt wird, da das bisher eigentlich noch nirgends so erklärt war. Neuankömmlinge in Contao wissen oft nicht, dass zumindest folgende Schritte notwendig sind, um erste Inhalte auf seiner Contao Webseite sehen zu k

[2019-07-24 13:26] #19 closed, assigned to fritzmg

[2019-07-24 13:44] #42 closed, assigned to fritzmg

[2019-07-24 13:45] #33 closed, assigned to simonreitinger

[2019-07-25 08:57] #37 closed, assigned to fritzmg

[2019-07-29 14:45] fritzmg opened #44 "Reference: inputType url"
Apparently there is an `inputType` called `url`? Need to confirm this first and then add to the documenation.

[2019-07-29 16:17] #44 closed, assigned to fritzmg

[2019-08-15 09:07] fritzmg opened #45 "Print style"
Das Learn theme hat keinen eigenen print style. Ich würde einen einfachen print style machen wo sidebar, topbar & nav buttons gehidden sind. Plus etwaige Anpassungen (Schriftgröße & Bilder evt.).

[2019-08-15 12:59] fritzmg opened #46 "Reference: Back end modules"
Die Möglichkeiten des `$GOBALS['BE_MOD']` arrays, also was
[code]
genau jeweils macht - bzw. alle möglichen Optionen die es gibt (Liste ist vermutlich nicht vollständig).

[2019-08-16 09:51] #5 closed, assigned to fritzmg

[2019-08-18 17:03] #45 closed, assigned to fritzmg

[2019-08-23 14:53] Toflar opened #48 "Explain the security components"
As we have additional helper services such as the `TokenChecker`, I think we should have a chapter about when to use which service to fetch the front end member or back end user, to check if the FE preview is enabled etc.

[2019-08-24 22:46] fritzmg commented on #28
See #47

[2019-08-24 22:46] #28 closed, assigned to nobody

[2019-08-24 23:03] fritzmg commented on #21
734e851b0b1961e1fd731f9d97aaef8c60bc6c6a

[2019-08-24 23:03] #21 closed, assigned to nobody

[2019-08-29 12:38] fritzmg opened #49 "Cookbook: using content elements for your own DC"

[2019-08-29 12:38] fritzmg opened #50 "Cookbook: add custom CSS to the back end"

[2019-09-01 09:06] fritzmg commented on #41
Hm, warum haben wir eigentlich eine eigene Service Annotation für Hooks - aber nicht für alles andere? Die Hooks könnte man ja eigentlich auch mit dem Service Annotation Bundle setzen.

[2019-09-01 14:50] aschempp commented on #41
`terminal42/service-annotation-bundle` ist die Grundlage. Wir haben Kindklassen für einige unserer Tags, damit diese einfacher zu erstellen sind. Es gibt mehr als Hooks, es gibt auch Fragments und Callbacks.

[2019-09-03 12:59] fritzmg opened #51 "Contao Framework"
initialize etc. ...

[2019-09-07 15:28] jc97 opened #499 "Documentation outdated: cronjob"
**Affected version(s)**
4.x

**Description**
Cronjobs and the execution of cronjobs is described for version 3.x only. (https://docs.contao.org/books/cookbook/de/Cronjobs-in-Contao.html)

**How to reproduce**

[2019-09-15 23:13] fritzmg opened #52 "prev/next navigation is broken"
Leider funktionieren die prev/next Links nicht richtig: https://github.com/matcornic/hugo-theme-learn/issues/163

[2019-09-29 15:20] fritzmg commented on #48
I have added a _Services_ reference article in 89850ddf99b15d23df2790c15f87951e0da54525, which includes the `TokenChecker` service, as well as the `security.helper` service from Symfony. The descriptions are rather minimal at the moment. If the security components require their own fully fledged article, we can still add one under _Framework_, in addition to the reference.

[2019-09-29 15:23] fritzmg commented on #50
@Toflar @aschempp I'd need some help here. As mentioned [here](https://github.com/contao/contao/issues/446#issuecomment-529368654) I am trying to figure out what the best practice is now for adding additional (global) assets in the back end.

Previously people used the `TL_MODE` check within `config.php` which is considered wrong, since the `config.php` should only include config, not logic. (Howe

[2019-09-29 15:30] fritzmg commented on #51
It is mentioned in the _Services_ reference article now. Over time may be a dedicated article or guide could be included as well.

[2019-09-29 15:30] #51 closed, assigned to nobody

[2019-09-29 15:37] fritzmg commented on #3
_Getting Started_ now mentions how to set up autoloading for app & extension development. I don't think we need a dedicated article for that.

[2019-09-29 15:37] #3 closed, assigned to nobody

[2019-09-29 15:41] fritzmg commented on #16
reminder @sheeep

[2019-09-30 09:03] fritzmg opened #54 "Absender: Name + E-Mail Adresse Notation"
Bei der E-Mail Adresse des System Administrators in den System Einstellungen und den Einstellungen des Website Roots kann man auch folgende Notation schreiben:
[code]
oder
[code]
Contao macht daraus automatisch Name + E-Mail Adresse für den Admin:

https://github.com/contao/contao/blob/f93d72df61bf57316bb9f3555092f9c204007e89/core-bundle/src/Resources/contao/controllers/FrontendIndex.php#L228-L236

[2019-09-30 13:59] aschempp commented on #50
I don't think there's a "perfect" way to do this. There are multiple ways I can think of:
 - a `kernel.request` listener and check the back end scope
 - a `parseTemplate` hook and check for the `be_main` template
 - any other hook or event that is always triggered in the back end. `initializeSystem` would work but pretty stupid I guess.

It always boils down to `$GLOBALS['TL_MOOTOOLS']` I guess, w

[2019-10-03 07:55] netzarbeiter opened #55 "Link zur Doku im Manager"
Im Manager gibt es aktuell einen Link zur GitHub bzw. der Doku wie man das Passwort zurücksetzen kann. Gibt es da in der neuen Doku was neues, das wir im Manager einbauen könnten?

[2019-10-07 11:04] aschempp commented on #55
https://github.com/contao/contao-manager/issues/14

[2019-10-07 15:30] Toflar commented on #46
Documented: https://github.com/netzarbeiter/contao-docs/pull/56

[2019-10-07 17:29] #46 closed, assigned to Toflar

[2019-10-08 14:06] #54 closed, assigned to netzarbeiter

[2019-10-08 15:19] #10 closed, assigned to nobody

[2019-10-11 13:04] fritzmg opened #57 "Startseite über Hugo erzeugen"
Zusätzliches Environment für die Startseite. Wir könnten da auch einfach das bestehende index.html Template statisch einbinden, denke ich, mit zwei verschiedenen Sprachversionen.

[2019-10-14 16:25] Toflar commented on #57
I think when reworking the index page, I would also only link the two books and make them bigger and have some target group related questions or so.

Something like `What would you lilke to read about?`.

-> `I am a user of Contao and I would like to read about how I can use it.`
-> `I am a software developer and I would like to read about how I can extend and work with Contao.`

[2019-10-14 20:04] zonky2 opened #70 "Lokale Generierung erzeugt keine relativen URIs"
**Affected version(s)**
* Hugo Static Site Generator v0.58.3-4AAC02D4 windows/amd64 BuildDate: 2019-09-19T15:29:19Z

**Description**
* Windows 7 U, lolakes Build
* alle Links sind absolut auf "https://docs.contao.org" gesetzt

**How to reproduce**
* `hugo server --cleanDestinationDir --environment manual --destination ../build/manual --verbose`
* `/build` vorher gelehrt

[2019-10-14 20:08] Mynyx opened #71 "Dateiverwaltung Hinweis auf Backend-Einstellungen "Editierbare Dateien""
In https://docs.contao.org/manual/dateimanager/dateiverwaltung/ heißt es im Abschnitt "Die Navigationssymbole":

Die Backend-Einstellungen "Editierbare Dateien" existiert in Contao 4.8 jedoch nicht mehr.

[2019-10-14 22:02] Mynyx commented on #71
Siehe auch https://docs.contao.org/manual/user-management/benutzer/ in der Tabelle zu den erlaubten Datei-Operationen:

[2019-10-14 22:12] Mynyx opened #78 "Seite Mitglieder Abschnitt Home-Verzeichnis"
Auf der Seite Mitglieder enthält der Abschnitt Home-Verzeichnis Schreibfehler:

[2019-10-15 05:08] netzarbeiter commented on #78
https://github.com/contao/docs/commit/acf5251460bc93c33b952571e2848b914eb48fe7

[2019-10-15 05:08] #78 closed, assigned to nobody

[2019-10-15 07:12] fritzmg commented on #70
Ich kann das leider nicht reproduzieren. Würde auch keinen Sinn machen, da die `baseURL` `https://docs.contao.org/...` einzig und allein über den command line parameter gesetzt wird.

[2019-10-15 07:20] zonky2 commented on #70
... o.k. - nochmal alles "clean" gemacht, neu generiert und Browsercache gelehrt => nu siehts gut aus!

[2019-10-15 07:20] #70 closed, assigned to nobody

[2019-10-15 09:02] Mynyx opened #83 "Nicht nachvollziehbare Ergebnisse der Suchfunktion"
Die Suchfunktion zeigt nicht nachvollziehbare Ergebnisse an, beispielsweise zum Suchbegriff "cache" die Seite "Contao im Schnelldurchlauf", die den Begriff "cache" nicht enthält.

![image](https://user-images.githubusercontent.com/1632642/66816844-0e16e080-ef3b-11e9-88ed-53081024dce5.png)

[2019-10-16 18:05] Mynyx opened #97 "Unvollständige Anzeige des Verlaufs"
Die Anzeige des Verlaufs durch die orangen Häkchen funktioniert bei manchen Untermenüpunkten nicht.

Während die Anzeige unter anderem im Bereich Installation korrekt funktioniert
![image](https://user-images.githubusercontent.com/1632642/66945905-23c9fa00-f050-11e9-8aa7-53deedda2f83.png)
ist die Anzeige beispielsweise im Bereich "Contao im Überblick" unvollständig
![image](https://user-images.git

[2019-10-16 19:22] fritzmg commented on #97
Ist mir auch schon aufgefallen. Ticket müsste man dafür aber nicht hier, sondern im [Hugo Learn Theme](https://github.com/matcornic/hugo-theme-learn) machen. Wir greifen hier ja nicht weiter ein.

[2019-10-17 11:38] fkaminski opened #98 "Seitennavigation auf bestimmte Headlines begrenzen"
Mir ist aufgefallen, das in der oberen Seitennavigation alle Headline der Seite aufgenommen werden. Zum Beispiel in "Inhaltselemente". Hier werden die Unter Überschriften des Markdown Kapitels ebenfalls aufgeführt - s. Screen.

Evtl. könnte man dies auf nur einige Markdown Headline beschränken.

![docs 15](https://user-images.githubusercontent.com/7679799/67005338-a9968580-f0e2-11e9-9ea5-59e4a4ae0

[2019-10-17 11:40] netzarbeiter commented on #98
Das ist so gewollt, da es sich dabei auch um eine Einfühurng in die Syntax von Markdown handelt.

[2019-10-17 11:40] #98 closed, assigned to nobody

[2019-10-17 11:43] fkaminski commented on #98
Ok, wie kann ich dann aber generell mit Headline im Markdown arbeiten/strukturieren ohne das diese in der Navi auftauchen.

[2019-10-17 11:47] fritzmg commented on #98
Das ist nicht vorgesehen.

[2019-10-17 11:48] netzarbeiter commented on #98
Warum sollte eine Headline nicht in der Navi auftauchen?

[2019-10-17 11:52] fkaminski commented on #98
Habt schon Recht - dachte halt zum strukturieren eines Textes mit Sub Header ala
###Sub1
####Sub4
müßten diese ja nicht unbedingt in der Navi übernommen werden ...
Aber OK - Danke

[2019-10-17 11:54] fritzmg commented on #98
Du könntest ja ein Ticket im Theme dafür öffnen, dass man das zB konfigurierbar machen kann.

Heißt aber nicht, das wir das dann auch unbedingt so implementieren wollen ;)

[2019-10-18 10:38] fritzmg opened #100 "Best practise for legacy classes"
As discussed in slack, we should provide a best-practise documentation for the handling of legacy classes. e.g. that they should all reside in a single sub-namespace, like `Contao`, so that you can easily exclude them from service resource loading like so:

[code]

Background: if you accidentally auto-register a class that extends from `\Contao\System`, you will run into a fatal error during conta

[2019-10-18 10:39] m-vo opened #101 "Broken link / logo (docs.contao.org)"
Clicking on the logo on [docs.contao.org](https://docs.contao.org) currently leads to nowhere.

(With *nowhere* beeing `https://docs.contao.org/en/` / 404.)

[2019-10-18 10:42] m-vo commented on #101
Should probably lead to contao.org, I guess.

[2019-10-18 12:26] fkaminski commented on #43
Hi, kann mich gerne daran beteiligen. Wie stellst Du Dir die entsprechende (hugo) file struktur vor bzw. wo sollte das in der Navi auftauchen Position/Name ...

[2019-10-18 12:59] Marion04 opened #102 "User guide installation - system requirements: add php-extensions mbstring and curl"
**Description**
The php extensions **mbstring** and **curl** are needed to install contao 4 using the contao-manager. I suggest to add them to the required php extensions in chapter system requirements.
**Example**

[2019-10-18 15:19] #101 closed, assigned to nobody

[2019-10-21 16:53] m-vo commented on #100
see https://github.com/symfony/symfony/issues/34053

[2019-10-22 10:51] fritzmg commented on #97
Ich denke das passiert, wenn man die `url` front matter variable benutzt. Es funktioniert nämlich, soweit ich das getestet habe, bei allen Seiten nicht, wo eben eine `url:` angegeben wurde (um die URL zu Eindeutschen).

[2019-10-22 11:39] netzarbeiter commented on #55
Added link with the language prefix.

[2019-10-22 11:39] #55 closed, assigned to netzarbeiter

[2019-10-22 17:47] Toflar opened #109 "Document the environment variables"
I just noticed that they're missing and I think we may need to document them in both, the user manual and the dev manual.

As of 4.8, the following variables are relevant:

`APP_ENV`: `prod` (default) enables the production environment and `dev` the development env. It also automatically enables the debug mode and the Symfony "Profiler" (which is about to be renamed apparently :)).

`TRUSTED_PROXI

[2019-10-24 05:38] fiedsch opened #113 "Change of wording needed"
In

(see https://github.com/contao/docs/blame/master/docs/dev/framework/caching.md#L163-L165)
I think "not that" should be "note that" or be completely removed.

[2019-10-24 06:42] Toflar opened #114 "Document new search indexer abstraction"
https://github.com/contao/contao/pull/730

[2019-10-24 08:45] fritzmg commented on #113
See #115

[2019-10-24 08:45] #113 closed, assigned to nobody

[2019-10-25 07:07] fkaminski commented on #43
Hi, ich kann morgen mal mit dem Bereich "Guides/Anleitungen" anfangen.

Wie wäre es, wenn wir die Beschreibungen für "Lokale Installationen" (s. PR #99)  auch in den Bereich "Guides/Anleitungen" verschieben?

Platz wäre in der Navi, und so hätten wir eine saubere Trennung.

[2019-10-25 15:49] leofeyer commented on #499
Our new documentation has been released meanwhile. Head over to https://github.com/contao/docs and check it out. 🎉

[2019-10-25 15:49] #499 closed

[2019-10-28 18:42] m-vo commented on #100
Services are a concept that works well with composition + interfaces. The legacy code requires you to inherit from all sorts of classes instead. Plus: constructor injection often isn't possible.

Considering this I think a **separate sub namespace** (that is excluded from service resource loading) for these classes should be the best practice no matter the outcome of the related Symfony issue. The

[2019-10-29 08:56] fritzmg opened #122 "Change array() to []"
See https://github.com/contao/docs/pull/121#issuecomment-547315884

[2019-10-29 09:10] fritzmg commented on #100
I would like to get the approval of @contao/developers on this. So in the future, the recommended namespaces would be:

* `App\Contao\Model`
* `App\Contao\Widget`
* `App\Contao\ContentElement`
* `App\Contao\FrontendModule`

etc.

This would also need to be reflected in the Skeleton Bundle by @leofeyer

[2019-10-29 09:52] leofeyer commented on #100
No, there must not be a `Contao` namespace.

* `App\Model`
* `App\Widget`
* `App\ContentElement`
* `App\FrontendModule`

[2019-10-29 09:57] Toflar commented on #100
It depends. I don't think I would like to give a recommendation here. People may still use their brains 😄
If I have an app where I only extend Contao then I would not add this subnamespace. It's useless. If I have an app that consists of content management and an API I would probably make a difference on top level and have additional `Contao` and `Api` namespaces.

[2019-10-29 10:00] fritzmg commented on #100
Then the service resource-loading would need to be defined as

[code]

Plus any other subnamespace of legacy Contao classes.

[2019-10-29 14:35] aschempp commented on #100
- `App\ContentElement`
- `App\FrontendModule`

These should be controllers, so either `App\Controller` or `App\Controller\ContentElement` accordingly.

[2019-10-29 14:37] fritzmg commented on #100
Of course, this is only in case you absolutely have to use the legacy way.

[2019-10-29 14:44] aschempp commented on #100
Then I agree with @Toflar, there's no recommendation for the old way, because it's outdated 😂
Yeah, people still need it, but there's only a good new way, there's no good old way. So do whatever you feel like …

[2019-10-29 15:00] fritzmg commented on #100
So there is nothing that should be changed in the official documentation and people should deal with problems arising from loading legacy Contao classes as services on their own? Even if https://github.com/symfony/symfony/issues/34053 gets fixed in Symfony 3 & 4, I still think it would be good to show that it is best practise _not_ to load any Contao legacy classes as services.

[2019-10-29 15:48] akroii opened #124 "Abgeschaltete Doku online"
Wenn ich nach `Contao Insert Tags` google, erscheint: https://docs.contao.org/books/manual/4.4/de/04-inhalte-verwalten/inserttags.html

Diese Version ist jedoch Outdated, da es ja die neue Doku gibt: https://docs.contao.org/manual/de/artikelverwaltung/insert-tags/

Auf Contao org ist der Link zur neuen Version verlinkt:
https://docs.contao.org/

Kann man die alte Doku zur neuen redirecten?

[2019-10-29 15:49] m-vo commented on #100
Not all things are outdated. How would you create a `Widget` for example?

[2019-10-29 16:03] fritzmg commented on #124
@leofeyer Ticket bitte zu `contao/docs` verschieben

[2019-10-29 19:02] fritzmg commented on #122
See #125

[2019-10-29 19:02] #122 closed, assigned to fritzmg

[2019-10-29 19:17] fritzmg opened #126 "Entwicklermodus"
Folgende Dinge beschreiben:

* Möglichkeiten (kein Asset Combining, Symfony Toolbar, Fehleranalyse über Stack Traces)
* Aktivierung über Command Line (Contao 4.4)
* Aktivierung über Contao Manager (Contao 4.5 bis 4.7)
* Aktivierung über Contao Manager (ab Contao 4.8)
* Aktivierung über Umgebungsvariable (ab Contao 4.8)

[2019-10-29 20:08] xchs commented on #126
- Aktivierung über das Contao Backend (ab Contao 4.8) 😃

[2019-10-29 21:09] fritzmg commented on #126
See https://github.com/contao/docs/pull/128

[2019-10-29 21:09] #126 closed, assigned to fritzmg

[2019-10-29 22:20] fritzmg opened #129 "Basic Entities"
In Contao können folgende "Basic Entities" gesetzt werden, die dann in die jeweiligen HTML Entities zurück umgewandelt werden:

* `[&]` für `&amp;`
* `[lt]` für `&lt;`
* `[gt]` für `&gt;`
* `[nbsp]` für `&nbsp;`
* `[-]` für `&shy;`

Diese sollten auch noch dokumentiert werden.

[2019-10-29 22:22] #16 closed, assigned to nobody

[2019-10-30 07:33] aschempp commented on #100
I think thats a good idea as well. But how's that related to the namespace suggestion you were looking for?

If this is about the _automatic_ service loading, then we should tell people to make sure they only load directories that contain service classes. That might include Doctrine entities, and it includes Contao 3 widgets, or any other class where there are factories for.

[2019-10-30 10:15] fritzmg commented on #129
@netzarbeiter evt. einfach bei den Insert-Tag, weil das ja ein ähnliches Konzept ist? Ich bin mir nicht mal sicher, ob diese Zeichenfolgen überhaupt einen offiziellen Namen innerhalb von Contao haben.

[2019-10-30 10:16] Toflar commented on #129
Ja, "basic entities" wie du selber schreibst :D

[2019-10-30 10:26] #129 closed, assigned to nobody

[2019-10-30 14:03] netzarbeiter commented on #102
Thank you @Marion04

[2019-10-30 14:04] #102 closed, assigned to nobody

[2019-10-31 14:11] fritzmg opened #135 "Document missing edit.buttons_callback & select.buttons_callback"
For the DCA callback reference.

[2019-11-04 16:57] Mynyx opened #139 "Systemvoraussetzungen Contao Manager"
Die Systemvoraussetzungen zum Contao Manager (https://docs.contao.org/manual/de/installation/contao-manager/#systemvoraussetzungen) sind nur bedingt aktuell. Jedenfalls ein Hinweis, dass für die aktuelle Version mit dem vollen Funktionsumfang PHP 7.1 erforderlich ist, wäre sinnvoll.

Siehe auch https://github.com/contao/website/issues/120

[2019-11-04 17:02] fritzmg commented on #139
@aschempp PHP 7.1 ist nicht unbedingt erforderlich, oder?

[2019-11-04 17:03] Mynyx commented on #124
Die alte Dokumentation sollte meiner Meinung nach nicht offline genommen werden, vielleicht kann dort ein Hinweis auf die neue Dokumentation eingeblendet werden?

Die Anzeige in den Suchergebnissen wird sich mit der Zeit vermutlich von alleine regeln.

[2019-11-04 17:10] Toflar commented on #139
Für 1.2+ schon. Die 1.1 funktioniert noch mit 5.6 aber eigentlich auch nur wegen Contao 4.4. Also der Hinweis könnte schon rein. PR wäre herzlich willkommen, @Mynyx :)

[2019-11-04 17:16] fiedsch commented on #139
Ich frage mich, ob es sinnvoll angesichts des EOL von PHP 5.6 (https://www.php.net/supported-versions.php) sinnvoll ist, dazu noch etwas zu schrieben? Und spätestens, wenn sich die 1.1 des Managers auf 1.2 updatet ist mit schluss mit PHP 5.6. Oder habe ich da einen Denkfehler?

[2019-11-04 17:17] Toflar commented on #139
Nein, er updated sich eben nicht. Sonst hättest du keine Möglichkeit mehr Contao zu aktualisieren ohne auf PHP 7.1 umzustellen. Er downgraded sich sogar automatisch, wenn du die 1.2 auf einem Server mit 5.6 installierst.

[2019-11-04 17:18] fiedsch commented on #139
Ok, danke! Dann ist mein Argument hinfällig.

[2019-11-05 07:44] zonky2 opened #141 "link broken in hooks"
**Affected version(s)**
https://docs.contao.org/dev/getting-started/hook/

see below and check link at `dedicated article`

may be at this page https://docs.contao.org/dev/framework/hooks/

[2019-11-05 09:03] fritzmg commented on #141
You don't need to create a PR and an issue. One or the other is sufficient ;).

See #140

[2019-11-05 09:03] #141 closed, assigned to nobody

[2019-11-05 09:11] zonky2 commented on #141
#140 !== #141

pls reopen the issue

[2019-11-05 09:12] fritzmg commented on #141
In #140 überschreibst du genau diesen Link.

[2019-11-07 10:51] fritzmg opened #156 "Describe possible table configurations for DCA config"
The `sql` table configuration in https://docs.contao.org/dev/reference/dca/config/ needs a more elaborate description, since you can set an `index` for fields there, or for a combination of fields - and you can also set fields to be `unique`.

[2019-11-07 21:35] fritzmg commented on #124
Offline genommen ist die alte Dokumentation nicht, aber ich habe nun für einige Dinge Redirects eingerichtet. Das wird mit der Zeit erweitert.

[2019-11-07 21:35] #124 closed, assigned to fritzmg

[2019-11-14 16:17] MDevster opened #166 "Multiple language changes in extension section ends in a 404"
**Affected version(s)**
User Manual

**Description**
Multiple language changes in extension section  ends in a 404

**How to reproduce**
1 open https://docs.contao.org/manual/de/erweiterungen/merger2/
2 select english in language switcher
3 select german in language switcher an you get 404 not found

[2019-11-14 22:03] Ernestopheles opened #167 "Broken Link"
**Affected version(s)**

**Description**

**How to reproduce**
https://docs.contao.org/manual/de/eigene-seitenlayouts/ is broken an is referenced at https://docs.contao.org/manual/de/theme-manager/seitenlayouts-verwalten/

[2019-11-14 23:04] Ernestopheles opened #168 "Broken Link"
**Affected version(s)**

**Description**

**How to reproduce**
https://docs.contao.org/manual/theme-manager/themes-verwalten/#themes-konfigurieren
is broken and is referenced at
https://docs.contao.org/manual/de/modulverwaltung/

[2019-11-15 09:50] fritzmg commented on #166
Thx @MDevster. Closing in favor of #169.

[2019-11-15 09:50] #166 closed, assigned to fritzmg

[2019-11-15 10:03] fritzmg commented on #167
@netzarbeiter hm, not sure where this link was actually supposed to go. Is there a page missing?

[2019-11-15 10:10] fritzmg commented on #168
See #171

[2019-11-15 10:10] #168 closed, assigned to nobody

[2019-11-15 10:28] xchs opened #172 "Language Switcher: Options not visible in Chrome"
**Description**

The options from the language switcher menu are not visible in Chrome (and Edge). Only when hovering you can see the text.

In Firefox, however, it seems to work.

**How to reproduce**
* Open the [Contao Manual](https://docs.contao.org/manual/) in Chrome
* Try to switch the language

[2019-11-15 10:47] fritzmg commented on #172
Thx, see #173

[2019-11-15 10:47] #172 closed, assigned to nobody

[2019-11-15 11:16] MDevster opened #174 "add themes section in user manual"
**Description**
What do you think of adding a theme list similar to the scope of extensions?
If so, I would prepare a pull request :)

**Example**
![Erweiterungen    Contao Handbuch](https://user-images.githubusercontent.com/10244240/68939717-8d4d3d80-07a1-11ea-9214-166bd929ccd2.png)

[2019-11-15 11:19] Ernestopheles commented on #167
Well, for me it is not clear from the beginning how to create a
personal layout. Maybe it becomes more clear after solving my problem
to have a video as backgrund for the upper half part of the center-area
of a side. Just trying to build this using
http://de.contaowiki.org/Hintergrund_Video

In doing so, I faced the problem that saving a change to fe_page.html5
in /files/templates is not allowed b

[2019-11-15 11:20] fritzmg commented on #167
Please consult the community forum for things like that ;). This is probably a security setting on your web server.

[2019-11-19 10:28] fritzmg commented on #52
Fixed via #176

[2019-11-19 10:28] #52 closed, assigned to nobody

[2019-11-19 10:48] fritzmg opened #177 "Anleitung für nelmio/NelmioSecurityBundle"
Es taucht öfter die Frage auf, wie man Contao dazu bringt, dass man die Contao Seite auch ein einem iframe auf einer anderen Domain anzeigen lassen kann. By default wird das ja durch das nelmio/NelmioSecurityBundle verhindert - ich denke ein Artikel im Bereich "Anleitung" wie man das entsprechend ändern kann wäre nicht schlecht. @netzarbeiter was meinst du?

[2019-11-21 12:36] fritzmg opened #181 "Visual bug with notice (warning)"
See https://docs.contao.org/manual/de/system/einstellungen/#smtp-versand

Our current CSS changes for notices do not really work, if there are more than one paragraphs in the notice.

![Screenshot_2019-11-21 Einstellungen Contao Handbuch](https://user-images.githubusercontent.com/4970961/69338648-ed415980-0c63-11ea-9f0b-fc6f98c90541.png)

[2019-11-21 13:53] aschempp opened #183 "Deprecated eval => encrypt"
the option to encrypt a DCA field value is no longer functional with newer PHP version. Since PHP 7.2 removed mcrypt, there is no replacement and no intention to build any.

I think the manual should recommend not to use the flag but implement something using load and save callbacks.

[2019-11-21 16:11] fritzmg commented on #183
See #184

[2019-11-21 16:11] #183 closed, assigned to nobody

[2019-11-21 23:04] fritzmg commented on #13
See https://github.com/contao/docs/pull/185

[2019-11-21 23:04] #13 closed, assigned to nobody

[2019-11-27 13:49] Aziz-JH opened #189 "`getContentElement` Hook parameter"
**Affected version(s)**
Für Contao 4.8 und dessen Doku

**Description**
In der Aktuellen Doku steht unter dem [`getContentElement`](https://github.com/contao/docs/blob/master/docs/dev/reference/hooks/getContentElement.md) hook drin, dass beim dritten Parameter, nur eine `\Contao\ContentElement` Instanz zurück gegeben wird. Dies ist leider nicht immer der Fall, den wir haben auch noch das Formular,

[2019-11-27 14:38] fritzmg commented on #189
Thx :). See https://github.com/contao/docs/pull/190

[2019-11-27 14:38] #189 closed, assigned to nobody

[2019-11-29 17:09] m-vo commented on #100
The original issue (undefined constants) has been fixed in the Symfony 3.4 branch.

See https://github.com/symfony/symfony/pull/34560

[2019-11-30 16:25] Mynyx opened #193 "Contao Manager Secret"
Bei Nutzung des Contao Managers wird in ``contao-manager/users.json`` ein Secret für JSON Web Tokens (JWT) gespeichert, die zur Authentifizierung genutzt werden.

Daher sollte darauf hingewiesen werden, das Secret zu löschen (damit es automatisch neu generiert wird), wenn der Inhalt der Datei kompromittiert wurde oder beispielsweise Personen bekannt sein könnte, denen die Zugriffsberechtigung entz

[2019-12-02 12:34] aschempp commented on #183
Thank you @fritzmg

[2019-12-06 08:49] fritzmg opened #196 "Invokable listeners"
See https://github.com/contao/contao/pull/1063

[2019-12-06 08:50] fritzmg commented on #193
Can you provide a PR for that?

[2019-12-06 11:52] fritzmg opened #197 "Clarify that the DataContainer object of DCA callbacks can be null"
See e.g. https://github.com/contao/contao/pull/1066

Also I'd like to redo the DCA callback reference in general, may be do it the same way as the Hooks, with a clear example and description (huge project though 😉).

[2019-12-06 14:20] fritzmg opened #198 "PaletteManipulator: addLegend missing"
The `addLegend` method is not yet described in the Palette Manipulator documentation.

[2020-01-03 10:08] fritzmg opened #207 "Adjust getting started regarding the automatic loading of services.yml"
The `services.yml` of the application no longer needs to be loaded manually via the `config.yml`: https://github.com/contao/contao/pull/810

[2020-01-06 20:03] markocupic opened #210 "Frontend Module: Service tag config via Annotations fails under Contao 4.8"
Service tag configuration via Annotations fails under Contao 4.8.
What am I doing wrong?

https://github.com/markocupic/sac-event-tool-bundle/blob/800381c27ce6f4c1f1da0941b8ce7409b892b33a/src/Controller/FrontendModule/PilatusExportController.php#L44

https://github.com/markocupic/sac-event-tool-bundle/blob/800381c27ce6f4c1f1da0941b8ce7409b892b33a/src/Resources/config/controller-contao-frontend-mod

[2020-01-07 08:20] fritzmg commented on #210
You need to enable autoconfiguration for your service or tag it with `terminal42_service_annotation`. See https://github.com/terminal42/service-annotation-bundle/blob/master/README.md#without-autowiring-for-bundles

Also: currently you have tagged your front end module twice. Once via your YAML definition and once via annotation. You should only do one or the other.

[2020-01-07 12:44] Toflar commented on #114
Here we go: https://github.com/contao/docs/pull/212

[2020-01-07 12:44] #114 closed, assigned to Toflar

[2020-01-08 07:27] zonky2 opened #214 "update source code - deprecated methodes"
Change `FE_USER_LOGGED_IN` and database call in  https://docs.contao.org/dev/reference/hooks/storeFormData/#example

See https://contao.slack.com/archives/CNZBHDCP4/p1578417426012200

[2020-01-08 08:46] Toflar commented on #214
Fixed in https://github.com/contao/docs/pull/215.

[2020-01-08 08:46] #214 closed, assigned to nobody

[2020-01-08 09:48] koertho opened #216 "Service Configuration via Plugin class instead of Extension"
On page https://docs.contao.org/dev/getting-started/extension/ / https://github.com/contao/docs/edit/master/docs/dev/getting-started/extension.md within the chapter `Service Configuration` the service loading is done by the extension class. Wouldn't it be better (and easier) to use the `ConfigPluginInterface` instead? I usually use this for service loading and it works great.

Example:
[code]

I c

[2020-01-08 10:03] Toflar commented on #216
Using the Manager Plugin for this use case is not correct.
Remember, whenever you're developing an extension for Contao you are essentially writing a Symfony bundle in the first place! Your bundle should be working in a regular Symfony full-stack framework application, without Contao even being present.

If you're registering the configuration in the Manager Plugin, it **only** works for the Conta

[2020-01-08 10:05] koertho commented on #216
Ok, thanks for the explanation.

[2020-01-08 10:05] #216 closed, assigned to nobody

[2020-01-09 11:08] fritzmg opened #218 "Update back end routes guide"
The [back end routes](https://github.com/contao/docs/blob/1e331301a4a76e28c25ba96d90412039d18e06ea/docs/dev/guides/backend-routes.md) guide is a bit outdated, as it still uses `Sensio\Bundle\FrameworkExtraBundle\Configuration\Route` and `Sensio\Bundle\FrameworkExtraBundle\Configuration\Template`. Both of which are not recommended anymore.

Todo:

- [ ] Use `Symfony\Component\Routing\Annotation\Rou

[2020-01-09 11:10] fritzmg commented on #20
This is actually implemented in the manual now. I don't think we need a separate reference in the developer documentation.

[2020-01-09 11:10] #20 closed, assigned to sheeep

[2020-01-09 11:10] fritzmg commented on #7
This is explained in the getting started section now.

[2020-01-09 11:10] #7 closed, assigned to nobody

[2020-01-09 11:11] #210 closed, assigned to nobody

[2020-01-10 16:46] markocupic commented on #210
Hallo Fritz
Vielen herzlichen Dank für deine Hilfe. Ich konnte es noch nicht testen, werde es aber am Wochenende versuchen nachzuholen.
Nice weekend.
Grüsse Marko

[2020-01-14 07:52] akroii opened #221 "Contao Manager Update-Anleitungen"
Wenn man ein Systemupgrade von z.b. 4.4 zu 4.8 machen möchte wäre es sinnvoll zu erklären wie man ein Update über das Eingabefeld fährt. Also was die einzelnen Zeichen wie `^4.4` und `.*` bedeuten.
![Bildschirmfoto 2020-01-14 um 08 51 26](https://user-images.githubusercontent.com/8830861/72324391-1ce07100-36ab-11ea-85b9-2354ebc1cdbc.png)

[2020-01-14 08:13] Toflar commented on #221
https://getcomposer.org/doc/articles/versions.md#writing-version-constraints

[2020-01-14 12:30] fritzmg opened #222 "Add documentation about back end menu to back end module framework article"
Currently, the workings of the back end menu are only described in the custom back end routes guide.

[2020-01-15 13:25] zonky2 opened #223 "Übersetzungen für Felder, Labels und feGroups"
Eine Erklärung für das Anlegen der Übersetzungen fehlt - insbesondere die "magic keys" wie `*_legend` und `*Details` (inkl. die Ausnahme Data https://github.com/contao/contao/blob/1d68530e7899b6b2880cea5f9fa6fce0a9f9a3f3/core-bundle/src/Resources/contao/modules/ModulePersonalData.php#L377-L378)

[2020-01-16 09:32] fritzmg commented on #218
See #225

[2020-01-16 09:32] #218 closed, assigned to fritzmg

[2020-01-24 15:07] fritzmg opened #235 "Update cron service tagging documentation"
Things have changed since I last added it.

https://github.com/contao/contao/pull/1098

[2020-01-29 10:42] akroii opened #238 "document non-documented feature 'absolute' for link InsertTags"
Theres a non-documented feature "absolute" for inserttag `{{link::234|absolute}}`.
[https://github.com/contao/contao/blob/2aa01f5e7db13ddb9c54662dc29b17a6e998a013/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L442](https://github.com/contao/contao/blob/2aa01f5e7db13ddb9c54662dc29b17a6e998a013/core-bundle/src/Resources/contao/library/Contao/InsertTags.php#L442)

Is it possible to a

[2020-01-29 10:46] fritzmg commented on #238
Sure, you can make a PR yourself as well by clicking the link in the documentation ;)

[2020-01-29 10:46] fritzmg commented on #238
_Note:_ this feature is available in Contao **4.5** and up.

[2020-01-29 12:33] akroii commented on #238
See [https://github.com/contao/docs/pull/240](https://github.com/contao/docs/pull/240)

[2020-01-29 12:34] #238 closed, assigned to nobody

[2020-02-04 08:26] fritzmg opened #245 "Guide: usage of dynamic ptables (e.g. tl_content)"
I think it would be useful to outline the necessary steps in order to use content elements in your own module (like the `contao/news-bundle` does, etc.).

See also https://docs.contao.org/books/cookbook/de/Inhaltselemente-verwenden.html

[2020-02-07 08:56] fritzmg opened #255 "Image processing"
As discussed on Slack, the dev documentation still lacks any kind of documentation on how to utilize Contao's extensive image processing capabilities. It should go under _Framework_  > _Image Processing_. There is a lot of ground to cover, so feel free to structure it as you see fit 😉

Things that I would definitely include:

* `ImageFactory`
* `PictureFactory`
* May be even `Controller::addImageT

[2020-02-10 10:08] fritzmg opened #257 "Templates"
Der Punkt _Layout_ - _Templates_ fehlt im Handbuch noch zur Gänze. Hier sollten folgende Dinge beschrieben werden:

* Anpassung von Core/Extension Templates
* Erzeugung von eigenen, auswählbaren Templates und die notwendige Namensgebung dazu
* Evt. auch Dinge wie `analytics_` Templates?

[2020-02-10 10:08] fritzmg commented on #181
This is simply a limitation of the learn theme otherwise. I have changed the markdown accordingly.

[2020-02-10 10:08] #181 closed, assigned to nobody

[2020-02-12 15:09] netzarbeiter commented on #221
https://docs.contao.org/manual/de/installation/contao-aktualisieren/_

[2020-02-12 15:09] #221 closed, assigned to nobody

[2020-02-12 15:10] contaoacademy commented on #257
Benennung der Templates
[code]

[2020-02-13 08:58] zonky2 opened #258 "Beschreibung der Möglichkeiten und Hierarchie der Weiterleitungen bei Login Mitglieder"
Beschreibung der Möglichkeiten und Hierarchie der einstellbaren Weiterleitungen bei Login der Mitglieder

wie im Mumble-Call 12.02.2020 besprochen

[2020-02-13 08:59] zonky2 opened #259 "Beschreibung der Möglichkeiten und Hierarchie der Weiterleitungen bei News"
Beschreibung der Möglichkeiten und Hierarchie der Weiterleitungen bei News

wie im Mumble-Call 12.02.2020 besprochen

[2020-02-13 09:00] zonky2 opened #260 "Beschreibung der Möglichkeiten und Hierarchie der Weiterleitungen bei Events/Kalender"
Beschreibung der Möglichkeiten und Hierarchie der Weiterleitungen bei Events/Kalender

wie im Mumble-Call 12.02.2020 besprochen

[2020-02-13 19:42] #198 closed, assigned to fritzmg

[2020-02-13 19:42] fritzmg commented on #198
Implemented in dac574c

[2020-02-14 16:20] #109 closed, assigned to Toflar

[2020-02-19 10:16] fritzmg opened #265 "Templates: handling them programatically"
Currently the docs only mention how to basically create and use templates, but not how to work with the `FrontendTemplate` class and how to actually fill template with data and parse them etc.

[2020-02-19 14:12] Mynyx opened #269 "Wartungsmodus"
Der Wartungsmodus ist im Handbuch nicht dokumentiert.

[2020-02-19 14:18] fritzmg commented on #269
@Mynyx can you provide a PR? You only need to provide it in one language (English or German).

[2020-02-19 21:17] fritzmg commented on #235
Added in 0ee08ba

[2020-02-19 21:17] #235 closed, assigned to fritzmg

[2020-02-19 21:55] fritzmg commented on #196
Added in 5c2d9c3

[2020-02-19 21:55] #196 closed, assigned to fritzmg

[2020-02-21 09:14] fritzmg opened #271 "Request Tokens"
Why and what they are for and how to retrieve them.

I'll assign this to the docs-machine 😁 (@Toflar 😉)

[2020-02-21 15:30] Toflar commented on #271
What exactly do you imagine here and where in the docs would you expect it to appear?

[2020-02-22 10:20] Mynyx opened #275 "update-contao.de.md Abschnitt Aktualisierung mit dem Contao Manager"
Im Abschnitt "Aktualisierung mit dem Contao Manager" (https://docs.contao.org/manual/de/installation/contao-aktualisieren/#aktualisierung-mit-dem-contao-manager) wird der Ablauf folgendermaßen beschrieben:

Was genau ist mit dem Satz "Alle anderen Contao-Paketen müssen ohne Änderung für die Aktualisierung vorgemerkt werden." gemeint? Was konkret soll an dieser Stelle getan werden?

[2020-02-23 14:59] asaage opened #281 "Webserver Konfiguration"
Contao liefert ja seit jeher eine .htaccess mit. Zu C3-Zeiten war das die Stelle, wo man auf Kompression, E-tags, Cachezeiten, Url-Suffix, Fehlerdokumente etc. Einfluss nehmen konnte.
Seit C4 hat sich da einiges vereinfacht und die Notwendigkeit an der .htaccess Hand anzulegen bestand eigentlich nur noch in Ausnahmefällen. Hostinganbieter gehen gefühlt mehr und mehr dazu über, nginx oder eine Komb

[2020-02-23 16:48] fritzmg commented on #275
Den Button "Aktualisieren" klicken.

[2020-02-24 08:28] Toflar commented on #281
@leofeyer vielleicht magst du da was zur Doku beitragen? contao.org läuft doch mit nginx? :)

[2020-02-24 09:22] leofeyer commented on #281
Wir nutzen die [Nginx-Konfiguration für Symfony](https://symfony.com/doc/current/setup/web_server_configuration.html#nginx).

[2020-02-24 09:25] fritzmg commented on #281
Du wirst auch nie eine nginx config finden, die du 1:1 übernehmen kannst. Zumindest die `fastcgi_pass` Anweisung wird immer von der jeweiligen Server Umgebung abhängen.

[2020-02-24 09:32] fritzmg commented on #271
_Framework_ > _Request Tokens_

1. Short explanation (i.e. required for POST request, may be link to a ressource explaining CSRF).
2. How to retrieve them + example (injecting the `contao.csrf.token_manager` service + the `contao.csrf_token_name` parameter).
3. And we still have things like the `BYPASS_TOKEN_CHECK` constant, the `disableRefererCheck` localconfig setting and the `requestTokenWhitel

[2020-02-24 10:43] fritzmg opened #283 "Models: elaborate on find/findBy columns, values & options"

[2020-02-24 11:10] Toflar commented on #271
Done :)

[2020-02-24 11:34] #271 closed, assigned to Toflar

[2020-02-24 12:26] asaage commented on #281
@fritzmg mir ist klar, dass ich nichts 1:1 übernehmen kann.

Die ```fastcgi_``` Sachen sind auch gar nicht das Problem.

Ich verwende im Prinzip auch die Konfiguration für Symfony
[code]
Ein leeres oder ein anderes url_suffix funktioniert - aber das funktioniert nicht für:
[code]
Wordpress verwendet z.B. diesen Trailing-Slash und es gibt den ein oder anderen Kunden, der nach einem Umbau seiner Web

[2020-02-24 12:32] fritzmg commented on #281
Also bei mir funktioniert das ohne weiteres Zutun. Vielleicht solltest du dich zu diesem Problem eher an das Forum wenden.

[2020-02-24 12:38] fritzmg commented on #281
For reference: der relevante Teil meiner nginx config sieht so aus:

[code]

Im Prinzip also so wie in der Symfony Dokumentation - nur ohne

[code]

da sich diese Anweisungen bereits in der von meinem nginx ausgelieferten `fastcgi.conf` befinden.

[2020-02-24 21:59] Mynyx commented on #275
Der Button "Aktualisieren" bei den Contao-Paketen ist nach dem Ändern der Version ausgegraut. Auch der allgemeine Button "Pakete aktualisieren" ist nach dem Ändern der Version ausgegraut.

Bezieht sich der Satz vielleicht noch auf eine ältere Version des Contao Managers, wo die Contao-Pakete noch nicht gruppiert waren?

Oder sind mit Contao-Pakete auch die Erweiterungen gemeint?

[2020-02-24 22:20] fritzmg commented on #275
Ja, bezieht sich grundsätzlich noch darauf. Je nach dem welche Erweiterungen installiert sind, kann es aber trotzdem notwendig sein, auch alle anderen Pakete zur Aktualisierung zu markieren. Oder man führt unter _Wartung_ > _Abhängigkeiten installieren_ ein komplettes composer update durch (nachdem man die Version geändert hat).

[2020-02-25 08:12] frontendschlampe opened #288 "Deaktivierung/Aktivierung Websitesuche"
seit Contao 4.9 sind die Einstellungen zur Website-Suche

- Suche aktivieren
- Geschützte Seiten indizieren

nicht mehr im Backend einstellbar.

Leider ist hier https://docs.contao.org/manual/de/system/einstellungen/#website-suche noch der Weg über die Einstellungen im Backend beschrieben.

Ab Contao 4.9 erfolgt das sicherlich über eine `config.yml`.
Wie sind die Einträge dafür?

[2020-02-25 08:27] fritzmg commented on #288
Solltest du über

[code]

sehen. https://docs.contao.org/manual/de/system/einstellungen/#config-yml

[code]

Habe den config:reference-dump in 20d8803203ae5aaf847f3a6e49c188150f4a571e aktualisiert.

[2020-02-25 08:39] frontendschlampe commented on #288
Danke Dir @fritzmg

[2020-02-25 08:58] #288 closed, assigned to nobody

[2020-03-01 21:03] #41 closed, assigned to nobody

[2020-03-02 22:07] fritzmg opened #292 "Reference: ContaoCoreEvents"
Currently only the `contao.backend_menu_build` is mentioned in the [_Back End Routes_](https://docs.contao.org/dev/guides/backend-routes/) guide. But all events should be documented in the reference.

[2020-03-02 22:39] fritzmg opened #293 "Commands: document user password change command"
And possibly other commands, which may be missing on https://docs.contao.org/dev/reference/commands/

[2020-03-03 09:20] fritzmg opened #295 "Document pageModel request attribute"
Available with _scope=frontend. Usually a `PageModel` - except in fragment controllers, where it is only an ID.

[2020-03-03 13:57] fritzmg opened #296 "Reference - Commands: contao:crawl command"
plus all available options (e.g. custom Headers)

[2020-03-04 12:11] ausi commented on #255
Closed in favor of #297

[2020-03-04 12:11] #255 closed, assigned to ausi

[2020-03-07 21:37] #207 closed, assigned to fritzmg

[2020-03-09 16:19] fritzmg opened #299 "Update Theme and Hugo"
Recently, some updates to the theme have been made, which also increases the Hugo compatibility to 0.66.0

[2020-03-09 17:44] fritzmg opened #300 "Update Symfony Application configuration for Contao 4.9"
@sheeep could you please provide PR to update https://docs.contao.org/dev/getting-started/starting-development/ to include the necessary changes for Contao 4.9? :)

May be split it between Contao 4.4 or 4.9? Both should stay imho.

[2020-03-10 08:42] bytehead commented on #300
You mean over here: https://docs.contao.org/dev/getting-started/initial-setup/symfony-application/?

[2020-03-10 08:49] fritzmg commented on #300
Right sorry, copied the wrong link.

[2020-03-10 09:17] bytehead commented on #300
Can you assign the issue to me then?

[2020-03-10 09:22] fritzmg commented on #300
Done.

[2020-03-14 11:14] fritzmg commented on #299
Done in 284d0ebe17680d093fc9bd28e59451bb6e113713

[2020-03-14 11:14] #299 closed, assigned to fritzmg

[2020-03-22 17:39] Xendiadyon opened #308 "example config.yml is not valid"
In https://docs.contao.org/manual/de/system/einstellungen/ there is the default config.yml.

But when I store this code in the config/config.yml and rebuild the cache, I get the error:

[code]

So the example config.yml doesn't seem to be correct.

---

When I try to output the default configuration via
`php vendor/bin/contao-console config:dump-reference contao`
I get the error:
[code]

So this l

[2020-03-23 08:45] bytehead commented on #300
@fritzmg this issue can be closed.

[2020-03-23 08:46] #300 closed, assigned to bytehead

[2020-03-23 12:16] fritzmg opened #310 "Document ContaoModuleBundle"
If you install packages of type `contao-module` in your Symfony application, you will need to use the `ContaoModuleBundle` class in order to load these extensions in the application.

@bytehead can you add an article about that to the Symfony Application setup documentation? :)

[2020-03-23 12:31] bytehead commented on #310
👍

[2020-03-23 12:38] fritzmg commented on #310
Btw. @ausi suggested [here](https://github.com/contao/contao/issues/216#issuecomment-447897985) that one could may be reuse `ContaoKernel::registerBundles` to automatically load any `contao-module` packages?

[2020-03-23 13:55] chuckki commented on #308
Hi - the document shows the reference, not a workable configuration. Maybe the following wording is ponderously:
'Über die Kommandozeile kommst du an die Standard-Konfiguration für Contao:'

For the current configuration use: `php vendor/bin/contao-console debug:config contao`

[2020-03-23 13:59] fritzmg commented on #308
@Xendiadyon what exactly are you trying to do?

[2020-03-24 14:55] bytehead commented on #310
Should it also be possible to define the environments the modules gets loaded, like e.g.:
[code]

or should the system always load `contao-module` packages?

[2020-03-24 16:38] fritzmg commented on #310
I have no idea 😁

[2020-03-24 16:40] bytehead commented on #310
Loading them in every environment will be automatically possible without manually adding the module somewhere after a `composer require`...

[2020-03-24 17:55] bytehead commented on #310
This can be closed.

[2020-03-24 18:12] #310 closed, assigned to nobody

[2020-03-29 17:31] fritzmg commented on #292
Duplicate of #18

[2020-03-29 17:31] #292 closed, assigned to nobody

[2020-04-01 13:37] #18 closed, assigned to nobody

[2020-04-03 15:27] amenk opened #329 "Clarify how often the package search index runs"
In https://github.com/contao/docs/blob/master/docs/dev/guides/publishing-bundles.md L75 it's not specified how often the search index runs. That is important. Can somebody who knows add it?

Thank you :)

[2020-04-03 15:33] fritzmg commented on #329
@aschempp should we add that to the documentation?

[2020-04-03 15:39] aschempp commented on #329
We‘ve put the index updates on GitHub Actions so its visible to everyone: https://github.com/contao/package-metadata/actions

Currently, there‘s an update every 30 minutes, plus an instant one if something is added to the metadata repository.

_If_ we want to add something to the docs, I‘d link to the Actions and not write down „30mins“ as that could change.

[2020-04-03 15:43] fritzmg commented on #329
@amenk feel free to make a PR for the docs :)

[2020-04-03 17:18] amenk commented on #329
Cool -- PR done.

So I have another problem (https://community.contao.org/de/showthread.php?77637-Wieso-erscheint-unser-Paket-nicht-im-Contao-Manager&p=523069#post523069)

[2020-04-03 19:04] amenk commented on #329
#330

[2020-04-03 19:04] #329 closed, assigned to nobody

[2020-04-04 17:11] fritzmg opened #333 "Widgets"
Similar to how Hooks and Content Elements etc. are explained.

[2020-04-10 21:55] fritzmg commented on #222
Imho not necessary any more with #322

[2020-04-10 21:55] #222 closed, assigned to nobody

[2020-04-12 12:32] #50 closed, assigned to nobody

[2020-04-14 10:59] fritzmg commented on #25
Preview of what's to come: https://deploy-preview-386--learn.netlify.com/en/shortcodes/tabs/

https://github.com/matcornic/hugo-theme-learn/pull/386

[2020-04-21 09:06] jdwiese opened #346 "Falsches Service-Tag für Cron Jobs"
Das Service-Tag für Cron-Jobs heißt "contao.cronjob" und nicht wie in der Dokumentation angegeben "contao.cron" (https://docs.contao.org/dev/framework/cron/). Das wird auch in der Deprecation-Meldung so angegeben:

```"User Deprecated: Using $GLOBALS['TL_CRON'] has been deprecated and will be removed in Contao 5.0. Use the "contao.cronjob" service tag instead."```

[2020-04-21 09:44] fritzmg commented on #346
fixed in 41e8059

Übrigens @jdwiese rechts oben kannst du die Seite selbst editieren und Änderungen vorschlagen ;)

[2020-04-21 10:30] #346 closed, assigned to nobody

[2020-04-29 16:19] fritzmg opened #350 "Mumble Anleitung ins Handbuch übernehmen"
Aus dem alten Wiki.

[2020-04-29 16:26] contaoacademy commented on #350
https://de.contaowiki.org/Mumble_Installation

[2020-05-01 13:00] fritzmg opened #354 "Add Simple Tokens to manual"
Stuff like

[code]

is currently not documented at all (I think?). We should add it to the _Insert-Tag_ documentation imho. It's not really the same, but conceptually it would fit there best, I think.

[2020-05-02 09:07] fritzmg commented on #333
I am currently working on this.

[2020-05-04 14:49] Toflar opened #356 "Make GitHub edit links rel=nofollow"
That'll reduce the number of http requests the upcoming link checker has to deal with :)

[2020-05-06 13:25] frontendschlampe commented on #350
unter dem Menüpunkt "Anleitungen"

[2020-05-09 13:04] math-GH opened #358 "parameters.yaml: install Passwort?"
![grafik](https://user-images.githubusercontent.com/1645099/81474491-0d5ed800-9206-11ea-8efc-b1fcc838bbe7.png)
https://docs.contao.org/manual/de/system/einstellungen/

aber das Install-Passwort befindet sich aktuell in system/config/localconfig.php
![grafik](https://user-images.githubusercontent.com/1645099/81474498-2bc4d380-9206-11ea-8a11-01980ee5e2ed.png)
https://contao.org/de/faq/ich-habe-das-p

[2020-05-09 13:11] contaoacademy commented on #358
Du kannst die Daten vom Install-Tool auch in der parameters.yml eintragen.

[code]

[2020-05-09 20:34] math-GH commented on #358
gibt es dazu eine Doku, wann und wie das Passwort dort reinkommt?

2016 war noch die Aussage:
![grafik](https://user-images.githubusercontent.com/1645099/81484359-25a21780-9245-11ea-9838-5f6f98c52e9e.png)
https://github.com/contao/installation-bundle/issues/27
(sag niemals nie? ;) )

[2020-05-09 22:32] fritzmg commented on #358
Die `config.yml` editierst du grundsätzlich selbst.

[2020-05-10 09:47] #167 closed, assigned to netzarbeiter

[2020-05-10 11:24] math-GH commented on #358
aktuell reden wir über die parameters.yaml, oder? ;)

[2020-05-10 13:50] fritzmg commented on #358
Nein, das Install Tool Passwort wird in der localconfig.php definiert. Die schon erwähnt kannst du die `TL_CONFIG` Werte auch in der Konfiguration des Contao Core Bundles definieren (also in der `config/config.yml`).

[2020-05-10 18:18] math-GH commented on #358
wieso reden wir über die confi.yaml, wenn ich die ganze Zeit die parameter.yaml meine und sie oben im Screenshot zu sehen ist. Die config.yaml kommt in der Doku im nächsten Abschnitt.

In der Doku steht, dass das Install-Passwort in der parameters.yaml enthalten sein kann.
Bis jetzt konnte diese Aussage hier im Gespräch nicht bestätigt werden.
Also gehe ich davon aus, dass die Doku nicht korrekt i

[2020-05-13 13:17] leofeyer opened #359 "Disable the security question -> Disable spam protection"
As suggested in contao/contao#1718, we are renaming the "Disable the security question" option to "Disable spam protection" in contao/contao#1740. We might have to adjust this in the docs as well.

[2020-05-15 13:56] fritzmg commented on #356
Changed in 363b812 . I'll leave this ticket open as a reminder to myself to create a PR for the theme as well.

[2020-05-16 13:25] #358 closed, assigned to nobody

[2020-05-16 13:25] fritzmg commented on #358
Danke, habe das nun entfernt :)

[2020-05-16 13:36] fritzmg commented on #359
PR: #364

While working on this I noticed, that the form field in the form generator is still called "Security question", even though it's also just an invisible spam protection (see https://github.com/contao/contao/pull/1740#issuecomment-629646406).

[2020-05-18 02:06] github-actions[bot] opened #365 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/dev/caching/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/framework/content-elements/
- [x] URL "https://docs.contao.org/dev/templates/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/framework/content-elements/
- [ ] URL "https://www.ph

[2020-05-18 02:06] github-actions[bot] opened #366 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://github.com/aschempp" seems broken (HTTP status code 429). Found on: https://docs.contao.org/manual/de
- [ ] URL "https://github.com/bytehead" seems broken (HTTP status code 429). Found on: https://docs.contao.org/manual/de
- [ ] URL "https://github.com/sheeep" seems broken (HTTP status code 429). Found on: http

[2020-05-18 06:26] leofeyer commented on #359
Our spam protection consists of two things: An invisible honeypot field and a visible security question that is shown if the honeypot field is filled in. Therefore "security question" is the correct label for the security question. 😄

[2020-05-18 08:07] fritzmg commented on #365
I have fixed all the 404s in 24ca385

[2020-05-18 08:07] #365 closed, assigned to nobody

[2020-05-18 08:26] fritzmg commented on #366
I fixed some of the 404s in 95001a9, though it appears we are missing one or two articles.

[2020-05-18 08:26] #366 closed, assigned to nobody

[2020-05-19 14:58] Tastaturberuf commented on #354
But it only works on the newsletter module?

source:
https://isotopeecommerce.org/de/handbuch/v/2.6/r/simple-tokens.html#deeplink-simple-tokens

[2020-05-19 15:15] zonky2 commented on #354
hmm...

I would rather do this as an extra page in module management - similar to insert tags in article management.
https://docs.contao.org/manual/de/modulverwaltung/

With the modules concerned then a link to the page.

[2020-05-19 15:22] fritzmg commented on #354
It works wherever `StringUtil::parseSimpleTokens` is used. Within the core bundles that's:

* `ModulePassword`
* `Newsletter`
* `ModuleNewsletterReader`
* `ModuleSubscribe`
* `ModuleUnsubscribe`

Plus any extension that utilises it (e.g. `terminal42/notification_center`).

[2020-05-19 15:25] zonky2 commented on #354
since this is more applicable in the modules section, I would add this to the modules section.

In the NC, you can then create a link in the documentation to the page ;-)

[2020-05-22 08:22] netzarbeiter commented on #359
https://github.com/contao/docs/pull/364

[2020-05-22 08:22] #359 closed, assigned to nobody

[2020-05-22 09:30] netzarbeiter commented on #40
Are still Insert tags missing?

https://docs.contao.org/manual/de/artikelverwaltung/insert-tags/

[2020-05-22 09:42] netzarbeiter commented on #308
No problem in Contao 4.9.3, I have added the line from @chuckki.
https://docs.contao.org/manual/de/system/einstellungen/

[2020-05-22 09:42] #308 closed, assigned to nobody

[2020-05-22 09:45] netzarbeiter commented on #36
https://docs.contao.org/manual/de/installation/systemvoraussetzungen/#php-erweiterungen

[2020-05-22 09:45] #36 closed, assigned to ausi

[2020-05-22 09:48] netzarbeiter commented on #139
Ich habe die PHP-Version für den Manager aktualisiert.
https://docs.contao.org/manual/de/installation/contao-manager/#systemvoraussetzungen

[2020-05-22 09:48] #139 closed, assigned to nobody

[2020-05-22 09:52] netzarbeiter commented on #174
For the moment rather not.

[2020-05-22 09:52] #174 closed, assigned to netzarbeiter

[2020-05-22 13:33] #296 closed, assigned to nobody

[2020-05-23 05:23] contaoacademy commented on #40
https://github.com/contao/contao/blob/711a454f830473a78cdf6438ba14d50a8dc9e4e0/core-bundle/src/Resources/contao/library/Contao/InsertTags.php

[2020-05-23 10:12] fritzmg commented on #40
@contaoacademy that class does not contain all insert tags of the core bundles. See https://github.com/contao/contao/blob/master/news-bundle/src/EventListener/InsertTagsListener.php for example.

[2020-05-23 14:11] fritzmg commented on #40
I have manually compiled all the currently documented Insert Tags and manually collected all the Insert Tags from the Contao Bundles and compared them. I have made a PR of the three missing Insert Tags: https://github.com/contao/docs/pull/368

[2020-05-23 17:37] #40 closed, assigned to fritzmg

[2020-05-24 22:43] #333 closed, assigned to fritzmg

[2020-05-25 02:11] github-actions[bot] opened #371 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] ~URL "https://www.php.net/manual/en/language.oop5.magic.php" seems broken (Idle timeout reached for "https://www.php.net/manual/en/language.oop5.magic.php".). Found on: https://docs.contao.org/dev/framework/dca/~
- [x] URL "https://docs.contao.org/manual/en/form-generator/" seems broken (HTTP status code 404). Found on: htt

[2020-05-25 02:11] github-actions[bot] opened #372 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://github.com/contao/contao/" seems broken (HTTP status code 429). Found on: https://docs.contao.org/manual/de/einleitung/das-contao-netzwerk/
- [x] URL "https://www.php.net/manual/en/book.dom.php" seems broken (Idle timeout reached for "https://www.php.net/manual/en/book.dom.php".). Found on: https://docs.contao.

[2020-05-25 06:55] fritzmg commented on #371
@Toflar can the idle or wait timeout between requests be increased may be, to potentially avoid the idle timeouts on php.net?

[2020-05-25 07:18] netzarbeiter commented on #372
https://github.com/contao/contao/, https://www.php.net/manual/en/book.dom.php and https://www.php.net/addslashes are not broken.

[2020-05-25 07:19] fritzmg commented on #372
@Toflar we ran into GitHub's rate limit again. May be increase the timeouts between requests a little? (See also https://github.com/contao/docs/issues/371#issuecomment-633411004)

[2020-05-25 07:20] Toflar commented on #372
Jup, we can try.

[2020-05-25 07:27] Toflar commented on #372
I have reduced the concurrency and added a timeout of 0.5 seconds between requests in f867cbfe4325e09848367585c32b3436ee75b18a. That will slow down the overall duration of the check considerably but we don't really care :)

[2020-05-25 07:33] fritzmg commented on #371
Fixed in 21a97b5e833c384fb6831f8957b600aa6974ab98

[2020-05-25 07:33] #371 closed, assigned to fritzmg

[2020-05-25 07:48] zonky2 commented on #257
vielleicht auch eine Anleitung, wie man über den Dev-Modus nachvollziehen kann, welches Template wo im Einsatz ist... dadurch, dass die Standardtemplates nicht mehr angezeigt werden, sicher ein wichtiger Punkt

[2020-05-25 07:55] fritzmg commented on #257
Das würde ich in der _Templates_ Anleitung kurz erwähnen und dann auf https://docs.contao.org/manual/de/system/debug-modus/ verweisen. Dort ist das bereits dokumentiert.

[2020-05-25 12:26] fkaminski commented on #257
See PR #386

[2020-05-25 17:08] #372 closed, assigned to netzarbeiter

[2020-05-27 15:08] fkaminski commented on #22
I did some research - there is already a lot of information (how to create and assign custom configurations be_tinyCustom.html5) that can be summarized for the documentation. Should I put that in the guides?

[2020-05-27 15:20] fritzmg commented on #22
Yes, having a guide is fine. We can always move it later on.

[2020-05-27 15:29] fkaminski commented on #31
Is there still a need? Because you already did it:
https://docs.contao.org/dev/framework/asset-management/

[2020-05-27 15:43] fritzmg commented on #31
Yeah, no, forgot to close this issue ;)

[2020-05-28 09:16] #257 closed, assigned to nobody

[2020-05-28 16:06] fkaminski commented on #22
See PR #394

[2020-05-29 05:53] #22 closed, assigned to nobody

[2020-05-29 11:43] fkaminski commented on #43
@fritzmg Könnte man schließen ...

[2020-05-29 11:54] fritzmg commented on #43
Gibt es diese Anleitung nun schon?

[2020-05-29 11:58] fkaminski commented on #43
Dachte diese hier:
https://docs.contao.org/manual/de/anleitungen/die-erste-startseite/

[2020-05-29 12:09] netzarbeiter commented on #43
Vielleicht müssen wir den Titel «Die erste Startseite» in «Erste Inhalte auf der Website ausgeben» ändern, dass klarer wird um was es sich bei dieser Anleitung handelt?

[2020-05-29 12:17] fritzmg commented on #43
Ja, oder einfach nur "Die ersten Inhalte", damit der Titel nicht so lang ist und besser in das Menü passt :)

[2020-05-29 12:29] netzarbeiter commented on #43
Er müsste in meinen Augen schon etwas ausssagekräftiger sein.

[2020-05-29 15:47] fkaminski commented on #259
@zonky2 Was genau ist hier und in #260/#258 gemeint?

[2020-05-29 16:11] zonky2 commented on #259
Hi @fkaminski ... wir hatten die verschiedenen Möglichkeiten der Einstellungen bei News usw. erleutert und, dass es keine vernünftige Beschreibung gibt, wie die Einstellungen miteinander zusammen hängen. Dabei ist ein wichtiger Aspekt, welche Einstellung - z. B. Weiterleitungen - von wem überschrieben wird. Das ist mit "Hierarchie" gemeint. Bei news z. B. kann man was in den News-Archiv-Einstellun

[2020-05-29 16:41] fkaminski commented on #259
Hi @zonky2, Grundsätzlich wäre demnach zunächst eine stepbystep Info für die genannten Möglichkeiten/Bereiche als Anfang wünschenswert? Dann dies Im Bereich Core-Erweiterung (oder als Guide)?.

[2020-05-29 16:42] zonky2 commented on #259
ggf. auch eine kleine Grafik oder so welche Einstellung was überschreibt...

wo genau das hin kommen soll, müssten die "Admins" sagen

[2020-05-29 16:45] fkaminski commented on #43
Ich finde "Die ersten Inhalte" auch passend. Zumal es von der Länge her wirklich besser in die Doku-Navi passt.

[2020-05-29 16:56] netzarbeiter commented on #43
… sagt halt nicht aus.

Die ersten Inhalte …

- Erste Inhalte einpflegen
- Erste Seite veröffentlichen
- Erster Inhalt ausgeben

[2020-05-29 17:14] marcuslelle commented on #259
Hallo @fkaminski und @zonky2
Ich habe das einmal alles durch und auf Papier schon vorhanden. Ich muss es nur noch elektronisch übertragen.

Ich würde mich mit @zonky2 abstimmen, wie ich das mache?
Nächste Woche?

[2020-05-30 08:29] fkaminski commented on #43
In diesem Fall ist es eh ja "nur" unter den Guides aufgeführt. Für den TOC reicht es ja dann aus.
Man könnte zusätzlich an den passenden Stellen dann mit ausssagekräftigen Titeln verlinken:
z.B hier dann auf der index Seite des "Theme-Manager" ...

[2020-05-30 15:38] fkaminski commented on #350
See PR #400
I only took the texts and photos from the wiki without installing them myself. So perhaps these are not uptodate...

[2020-06-01 02:22] github-actions[bot] opened #401 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://www.php.net/manual/en/language.oop5.magic.php" seems broken (Idle timeout reached for "https://www.php.net/manual/en/language.oop5.magic.php".). Found on: https://docs.contao.org/dev/framework/dca/
- [ ] URL "https://php.net/functions.anonymous" seems broken (Idle timeout reached for "https://php.net/functions.

[2020-06-01 02:22] github-actions[bot] opened #402 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://www.php.net/manual/en/book.dom.php" seems broken (Idle timeout reached for "https://www.php.net/manual/en/book.dom.php".). Found on: https://docs.contao.org/manual/de/installation/systemvoraussetzungen/
- [ ] URL "https://www.php.net/manual/de/function.date.php" seems broken (Idle timeout reached for "https://w

[2020-06-01 08:49] #401 closed, assigned to nobody

[2020-06-01 08:49] #402 closed, assigned to nobody

[2020-06-01 09:06] fritzmg opened #403 "Linker Checker: timeouts on php.net"
For some reason, the link checker is getting timeouts on php.net - see https://github.com/contao/docs/issues/401 & https://github.com/contao/docs/issues/402 for example. May be we can do something about that?

[2020-06-02 11:50] Toflar commented on #403
https://github.com/contao/docs/commit/f42f248417e8d7035dadf85b364cd21fe5ea0e1f

[2020-06-02 11:50] #403 closed, assigned to Toflar

[2020-06-02 14:49] fkaminski commented on #43
Im PR #404 habe ich u. a. mal Cross-Link (auf die guides) in der Index-Seite des Bereichs Layout/Theme-Manager gesetzt

[2020-06-02 16:48] #350 closed, assigned to frontendschlampe

[2020-06-02 17:21] netzarbeiter commented on #275
Der Text wurde angepasst.

[2020-06-02 17:21] #275 closed, assigned to nobody

[2020-06-02 17:23] netzarbeiter commented on #281
Ich schliesse dieses Ticket und würde mich über einen nginx-PR freuen.

[2020-06-02 17:23] #281 closed, assigned to nobody

[2020-06-02 19:35] fkaminski commented on #43
Da PR #404 gemergt wurde könnte man dies schließen, sofern der Umweg über Cross-Links eine temporäre Lösung ist...

[2020-06-03 05:33] #43 closed, assigned to netzarbeiter

[2020-06-04 13:54] fkaminski opened #411 "Layout for Shortcode expand"
I have tried the shortcode (["expand"](https://learn.netlify.app/en/shortcodes/expand/)) and I don't like the layout that much. Therefore i used the following CSS inline:

[code]

Maybe you could add it to the page\static\css\theme-contao.css per default?

Possibly practical if we use the shortcode later in guides for a chapter like faq/ShortnSweet ...

![shortcode-expand-sample](https://user-imag

[2020-06-06 07:21] fkaminski commented on #411
Could be closed

[2020-06-06 08:13] #411 closed, assigned to nobody

[2020-06-12 12:28] fritzmg opened #433 "getFrontendModule / getContentElement / getArticle / getForm hook clarification"
We need to add a clarification, that aforementioned hooks aren't executed for elements that are included via either the `module`, `alias` or `article` content element. Or rather that the hooks are conly executed, when the respective `Controller::*` function is executed. For content elements only `Controller::getContentElement` will ever be executed, for modules in your page layout (even if it is a

[2020-06-15 02:11] github-actions[bot] opened #439 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/manual/de/anleitungen/installation/contao-installtool/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/devilbox/

[2020-06-15 09:31] #439 closed, assigned to nobody

[2020-06-15 13:30] fkaminski commented on #269
@Mynyx - Have you already prepared something for this?
Otherwise we can take the appropriate information from this manual:
https://community.contao.org/de/showthread.php?77280-Anpassung-Wartungsmodus-4-9

@fritzmg
The above info also deals with the translation.
Should we separate this beforehand. On the other hand, the procedure is already described in the developer documentation ...

[2020-06-15 13:37] fkaminski commented on #259
The main issue was already considered in #432 from @fritzmg.
@marcuslelle  Apart from that - is this still on your to-do list?

[2020-06-16 07:14] dmolineus opened #443 "Old documentation"
When I use search engines I often get results from the former documentations. I'd like to discuss how it can be improved so that (new) user find information at the new documentation:

 - Take old documentation offline and provide redirects where possible
 - Add a note at the header of the old docs to inform that a new documentation exists

[2020-06-16 07:51] fritzmg commented on #443
We deliberately left the old documentation online, so that we can see if some essentials are still missing and which URLs can be redirected. We will leave the old docs online for the remainder of the year for this purpose.

A lot of redirects have already been implemented. You can report URLs that can be redirected to the new manual or dev docs :).

[2020-06-16 08:04] dmolineus commented on #443
Yeah I guessed that. So adding a notification on the header would be great.

[2020-06-18 08:38] fritzmg opened #445 "Add guide for custom insert tag"
Similar to the old one: https://docs.contao.org/books/cookbook/de/Eigene-Inserttags.html (+ create a redirect afterwards).

[2020-06-18 09:32] fritzmg opened #446 "Add Composer section to performance guide"
Mostly because of the `-o`/`--optimize-autoloader` parameter.

[2020-06-18 13:01] Xendiadyon commented on #308
Sorry for not answering sooner. I will switch on mail notifications for GitHub.

After upgrading to Contao 4.9.3, I still get the error
[code]

regardless if I try
` php vendor/bin/contao-console config:dump-reference contao`
or
`php vendor/bin/contao-console debug:config contao`

@fritzmg I am trying to get a default (working) config.yml which I can edit further.

[2020-06-18 13:04] fritzmg commented on #308
You should simply only add the things you need, not copy the whole reference dump into your own `config.yml`.

Regarding the error you are experiencing: you should ask in the community for help (Slack or Forum).

[2020-06-19 21:20] fritzmg opened #448 "2FA for front and back end"
Currently the documentation on how to use 2FA for the front end back end is missing.

[2020-06-21 15:27] ameotoko commented on #48
`$tokenChecker->isPreviewMode()` method, described there, only returns `true` if you in preview mode AND have "show unpublished" enabled. So you can't rely upon it if you just want to check whether you are in preview mode.

[2020-06-21 20:43] fritzmg commented on #48
The method isn't really described in 89850dd (if that is what you mean). It is just mentioned, that it is available. The description within the code says the following:

[2020-06-21 20:53] ameotoko commented on #48
Yes, but 89850dd and Toflar's [post](https://github.com/contao/docs/issues/48#issue-484572410) give an impression that this is the method used to check whether or not we are in FE preview mode - which is not correct.

[2020-06-22 07:35] Toflar commented on #48
/cc @aschempp

[2020-06-22 08:04] aschempp commented on #48
There might be a confusion. *Preview mode* historically means being logged in to the back end and enabling _show unpublished_. It is **not** a representation whether one is _visiting the front end through preview.php_.

Regarding the services:
 - **ScopeMatcher** is related to **routing**, it tells which scope the current route is on. Because firewalls listen to scopes, it (most likely) also tells

[2020-06-22 12:50] ameotoko commented on #48
I want to make it clear - **I don't have any questions regarding the method itself** (although its name is a bit misleading). This is only about the docs. The docs say there's a service to check whether the token for the preview mode is present, which is not exactly what that service does.

[2020-06-22 13:08] fritzmg commented on #48
@ameotoko That's what @aschempp is saying. The preview mode is not the same as the preview script. And the front end preview token is only available, if you enabled _show unpublished_. If you are using the default `preview.php`, but without having _show unpublished_ enabled, the `FrontendPreviewToken` will not be present.

[2020-06-22 13:54] ameotoko commented on #48
Well, I just tested it, and it's not true.
https://github.com/contao/core-bundle/blob/master/src/Security/Authentication/Token/TokenChecker.php#L142

[code]

`$token` is an instance of `FrontendPreviewToken` every time you access FE through `preview.php`, regardless of _show unpublished_ setting.

[2020-06-22 13:58] fritzmg commented on #48
Interesting, in my case it was alway `null`. Anyways, we can change the wording:

[code]

Btw. you can quickly make pull requests yourself by clicking on the _edit this page_ link in the top right corner of the docs ;)

[2020-06-22 14:09] ameotoko commented on #48
So, the Preview mode is meant to be this _show unpublished setting_? I always thought Preview mode is the mode accessed through `preview.php`, which can do two independent things:

- preview unpublished changes
- impersonate frontend user

If I knew this thread will grow so long, I would just do a PR instead :)

[2020-06-22 14:28] fritzmg commented on #48
Yes, see aschempp's comment:

--

The `FrontendPreviewToken` can impersonate back end users, which is used by the `BackendPreviewController` (`/contao/preview` route), which enforces that it is accessed through the configured preview entry point.

[2020-06-22 21:27] richardhj opened #450 "User commands (contao:user:create)"
This is a reminder to create the documentation for the user commands added in contao/contao#1463.

[2020-06-26 18:53] fritzmg opened #452 "Document contao.image.resizer, File::createIfDeferred"
A common obstacle when developing custom application logic in Contao 4.9 is, that images aren't immediately processed. Thus, when working with images, and the resized images are needed immediately, `resizeDeferredImage` and `createIfDeferred` should be mentioned.

[2020-07-06 02:11] github-actions[bot] opened #462 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "http://localhost/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/
- [ ] URL "http://mycompany.local/" seems broken (Couldn't resolve host name for "http://mycompany.local/".). Found on: https://docs.contao.org/manu

[2020-07-06 07:28] fritzmg commented on #462
@Toflar I think we should maintain a list of regular expressions for hostnames to ignore in the `ResultSubscriber`, in order to ignore `localhost` and `*.local` for example. I'll work on this and make a PR.

[2020-07-06 08:30] Toflar opened #463 "[4.10] Document new env vars"
- COOKIE_REMOVE_FROM_DENY_LIST
- QUERY_PARAMS_ALLOW_LIST
- QUERY_PARAMS_REMOVE_FROM_DENY_LIST

[2020-07-09 16:52] fritzmg opened #464 "Document contao.image.imagine_service more clearly"
Currently there is only an explanation on how to figure out which service is used currently. And there is of course the config reference dump showing that you can override the imagine service. However, I think it should be documented more clearly, that you can do this, and more importantly, which options you have:

* `contao.image.imagine.gd`
* `contao.image.imagine.gmagick` (untested)
* `contao.i

[2020-07-13 02:12] github-actions[bot] opened #466 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "http://localhost/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/
- [ ] URL "http://mycompany.local/" seems broken (Couldn't resolve host name for "http://mycompany.local/".). Found on: https://docs.contao.org/manu

[2020-07-13 13:40] frontendschlampe opened #467 "Übersicht über die Einstellungen der Speicherzeiten"
Die Speicherzeiten für z.B. Undo-Schritte, Versionen, Log-Einträge, Verfallszeit einer Session, Autologin-Zeitraum und Wartezeit bei gesperrtem Konto konnte man ja früher im Backend einstellen. Mittlerweile ist das nicht mehr im Backend möglich, sondern irgendwo anders.

Es wäre gut, wenn wir folgendes dokumentieren könnten:

- Welche Zeiten kann man anpassen?
- Wofür sind die entsprechenden Werte

[2020-07-13 13:47] fiedsch commented on #467
Wahrscheinlich `vendor/bin/contao-console config:dump-reference contao`, aber die Parameter von `contao.localconfig` sind dort nicht aufgeführt. Ich nehme an: alle unter ihrem alten Namen aus der `localconfig.php` (habe zum Glück aber keine 3.x mehr zur Hand ;-)

[2020-07-13 17:16] xchs commented on #467
Siehe z. B. https://github.com/contao/core/blob/3.5/system/config/default.php#L240-L255

[2020-07-20 02:11] github-actions[bot] opened #471 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "http://localhost/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/
- [ ] URL "http://mycompany.local/" seems broken (Couldn't resolve host name for "http://mycompany.local/".). Found on: https://docs.contao.org/manu

[2020-07-20 11:40] m-vo opened #472 "Cannot use referenced links inside 'notice' blocks"
This is probably a bug in the theme/Hugo I guess?

**Reproducer**

[code]

This will result in a raw `See [the referenced link][Link] for more information.` in the output.

The the link is correctly substituted if not inside a notice block. Also, links are working fine inside the blocks when not using the reference syntax but defining them in place (`[link](https://example.com)`).

[2020-07-21 10:02] fritzmg commented on #472
Yeah, unfortunately a known limitation - I think of the shortcode renderer itself, not the the theme. For now you'll have to include the link directly instead of using references.

[2020-07-21 13:24] fritzmg opened #476 "Document new root page settings"
See https://github.com/contao/contao/pull/1516

* It is now possible to define a `prefix` for each website root. Previously you were only to enable `contao.prepend_locale` globally, which would automatically add the language as the prefix. Now the prefix can be set freely and independently from the language. You can also have some roots with and some without a prefix (e.g. the English domain witho

[2020-07-21 13:28] fritzmg opened #477 "Document legacy routing mode"
See https://github.com/contao/contao/pull/1516

If an extension relies on the `getPageIdFromUrl` or `getRootPageFromUrl` Hook, then in Contao 4.10 you need to enable the _legacy routing mode_. This mode is automatically enabled, if you have either `contao.prepend_locale` or `contao.url_suffix` defined in your `config/config.yml`. If neither configuration is defined, but the legacy routing mode nee

[2020-07-21 13:31] fritzmg opened #478 "Document page controllers and (may be) content composition"
See https://github.com/contao/contao/pull/1516

Page types can now be registered as controllers via the `@Page` annotation for example, where you can define largely the same settings as with regular routes, plus some additional ones (e.g. relative or absolute routes).

The aforementioned PR also describes a new concept of content composition, which we can may be cover here too.

I'll create a PR f

[2020-07-22 10:53] zonky2 opened #484 "Change name of variable in example of picture factory"
https://docs.contao.org/dev/framework/image-processing/image-picture-factory/#example

the first and second example has as varaible `$image` - the third example `$resizedImage` ...

To avoid misunderstandings it might be better to name the variable in all three examples the same as `$image` or `$resizedImage`

[2020-07-22 11:20] fritzmg commented on #484
In the top right corner of the documentation is a link called _Edit this page_, with which you can quickly make a PR for such small fixes and suggestions :)

[2020-07-22 11:52] zonky2 commented on #484
For changes where I am quite sure, I do this as you know - here I was not sure if there is a special reason...

https://github.com/contao/docs/pull/485

[2020-07-22 12:01] fritzmg commented on #484
We'll find out in the PR ;). Closing in favor of #485

[2020-07-22 12:01] #484 closed, assigned to nobody

[2020-07-23 19:41] #462 closed, assigned to fritzmg

[2020-07-23 19:41] #466 closed, assigned to fritzmg

[2020-07-23 19:41] #471 closed, assigned to fritzmg

[2020-07-25 07:28] fritzmg opened #489 "DCA field mappings for labels"
https://de.contaowiki.org/DCA_Field_Mapping

Was es nicht alles gibt …

[2020-07-27 02:12] github-actions[bot] opened #492 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://www.apachelounge.com/download/VC11/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/

[2020-07-27 06:22] fritzmg commented on #492
This is kind of weird. I don't get this report locally. And the URL itself works. Also I don't quite get the message, why is it trying to connect to localhost for that URL? @Toflar

[2020-07-27 06:55] Toflar commented on #492
No idea, that's not something I wrote.

[2020-07-27 06:57] fritzmg commented on #492
No I mean, why is the link-checker trying to connect to `http://localhost/` for the URL `https://www.apachelounge.com/download/VC11/`? May be I am misinterpreting the message.

[2020-07-27 06:59] Toflar commented on #492
I don't know.

[2020-07-27 12:54] #463 closed, assigned to Toflar

[2020-07-30 07:34] fritzmg opened #496 "Document contao:resize-images command"
@ausi can you provide a PR may be? ;)

[2020-07-30 09:36] fritzmg opened #498 "Remove ServiceAnnotationInterface from Annotation examples"
Since it is not necessary anymore since version 1.1 of the ServiceAnnotationBundle.

(Already done in the Hook documentation).

[2020-08-03 02:12] github-actions[bot] opened #503 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://www.apachelounge.com/download/VC11/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/

[2020-08-03 15:30] fritzmg opened #505 "English translation: administration-area"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:31] fritzmg opened #506 "English translation: article-management"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:31] fritzmg opened #507 "English translation: core-extensions"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:32] fritzmg opened #508 "English translation: faq"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:32] fritzmg opened #509 "English translation: file-manager"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:33] fritzmg opened #510 "English translation: form-generator"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:34] fritzmg opened #511 "English translation: guides"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:35] fritzmg opened #512 "English translation: installation"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:35] fritzmg opened #513 "English translation: introduction"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:36] fritzmg opened #514 "English translation: layout"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:37] fritzmg opened #515 "English translation: performance"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:37] fritzmg opened #516 "English translation: system"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 15:40] fritzmg opened #517 "English translation: user-management"
See [CONTRIBUTING.md#manual-english-translation-revision](https://github.com/contao/docs/blob/master/CONTRIBUTING.md#manual-english-translation-revision)

[2020-08-03 16:08] fritzmg commented on #511
@fkaminski will you be working on this?

[2020-08-03 16:16] fkaminski commented on #511
@fritzmg OK

[2020-08-03 17:11] fkaminski commented on #508
@fritzmg You could assign me here

[2020-08-03 19:36] #515 closed, assigned to Toflar

[2020-08-04 10:12] leofeyer opened #520 "Document the new "disable language redirect" feature"
See https://github.com/contao/contao/pull/2017

[2020-08-04 13:16] #508 closed, assigned to fkaminski

[2020-08-04 22:59] blairwinans commented on #510
I will grab this one!

[2020-08-05 07:42] Toflar commented on #513
I'll polish this one as well :)

[2020-08-06 15:45] #498 closed, assigned to fritzmg

[2020-08-07 04:12] contaoacademy opened #525 "Willkommensseite - Coreentwickler Fritz hinzufügen"
In der Aufstellung auf der Willkommensseite (https://docs.contao.org/manual/de/) fehlt unter den Coreentwicklern @fritzmg

[2020-08-07 05:05] netzarbeiter commented on #525
Vielen Dank, Christian. Habe Fritz beim Core-Team eingefügt.

[2020-08-07 05:05] #525 closed, assigned to nobody

[2020-08-07 05:06] #503 closed, assigned to nobody

[2020-08-07 12:52] fritzmg opened #526 "Guide for bundle development"
There are some key differences you have to take into account when creating a bundle, as opposed to how it works for developing within an application. These differences are often not documented that well in the Symfony docs, so I think it makes sense to outline the most important aspects in a guide within the Contao docs.

[2020-08-08 18:03] ghost opened #527 "Docs Initial Setup Contao 4.9 LTS"
Hello!

I worked my way through the instructions here:
https://docs.contao.org/dev/getting-started/initial-setup/symfony-application/contao-4.9/

The following errors have been found:

$ composer require \
    doctrine/dbal:^2.10 \
    doctrine/doctrine-bundle ^1.8 \<---------------------------- should mean: doctrine/doctrine-bundle:^1.8
    doctrine/migrations:^2.2 \        <---------------------

[2020-08-08 22:38] fritzmg commented on #527
/cc @bytehead

[2020-08-10 02:11] github-actions[bot] opened #528 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://docs.contao.org/dev/reference/hooks/HooksFramework" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/reference/hooks/

[2020-08-10 02:11] github-actions[bot] opened #529 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://www.apachelounge.com/download/VC11/" seems broken (Couldn't connect to server for "http://localhost/".). Found on: https://docs.contao.org/manual/de/anleitungen/lokale-installation/laragon/

[2020-08-10 09:11] #528 closed, assigned to nobody

[2020-08-12 09:51] Toflar opened #533 "Document the new HttpCacheSubscriberPluginInterface"
See https://github.com/contao/manager-plugin/pull/29

@aschempp can you do that, please? I'm sure you also have an example to provide :-)
Should go here: https://docs.contao.org/dev/framework/manager-plugin/

[2020-08-14 16:17] Toflar commented on #492
Fixed in f06e494999b9ce06455b589193fd2f239c63742c.

[2020-08-14 16:17] #492 closed, assigned to nobody

[2020-08-14 16:17] Toflar commented on #529
Fixed in f06e494999b9ce06455b589193fd2f239c63742c.

[2020-08-14 16:17] #529 closed, assigned to nobody

[2020-08-17 11:30] fritzmg commented on #529
Thank you @Toflar :)

[2020-08-19 08:18] #511 closed, assigned to fkaminski

[2020-08-24 02:13] github-actions[bot] opened #548 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/dev/guides/publishing-bundles/extensions.contao.org" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/guides/publishing-bundles/

[2020-08-24 02:13] github-actions[bot] opened #549 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/manual/en/installation/systemvoraussetzungen" seems broken (HTTP status code 404). Found on: https://docs.contao.org/manual/en/installation/contao-manager/
- [x] URL "https://docs.contao.org/manual/en/installation/contao-installieren/" seems broken (HTTP status code 404). Found on: https://docs.

[2020-08-24 06:45] #549 closed, assigned to nobody

[2020-08-24 07:29] fritzmg commented on #548
@netzarbeiter I've added a different commit d34743d using the already existing reference :)

[2020-08-24 07:29] #548 closed, assigned to nobody

[2020-08-25 11:20] fritzmg commented on #516
I'll work on this :) (it's only one page left anyway 😁)

[2020-08-26 06:03] #516 closed, assigned to fritzmg

[2020-08-26 08:44] fritzmg opened #551 "Manage image sizes"
As mentioned [here](https://github.com/contao/docs/pull/534/files#r477135704) it would be great to have a dedicated article for "Manage image sizes" within https://docs.contao.org/manual/en/layout/theme-manager/ (just as "Manage stylesheets" and "Manage page layouts"), explaining all the possibilities (but not go into detail about how why and when to use responsive images etc. - we should link to

[2020-08-26 08:57] fritzmg opened #552 "Describe distinction between templates/ and contao/templates/"
See comments in https://github.com/contao/docs/pull/473

[2020-08-28 04:41] netzarbeiter commented on #510
https://github.com/contao/docs/pull/524

[2020-08-28 04:41] #510 closed, assigned to blairwinans

[2020-08-31 02:13] github-actions[bot] opened #556 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/manual/en/einleitung/contao-im-schnelldurchlauf/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/manual/en/layout/theme-manager/manage-stylesheets/
- [x] URL "https://docs.contao.org/manual/en/layout/seitenstruktur/seiten-konfigurieren/" seems broken (HTTP status code 404

[2020-08-31 06:39] #556 closed, assigned to nobody

[2020-08-31 08:58] mwoelke opened #557 "Clarify service annotation for bundles"
Whenever service annotations are mentioned in the current developer docs, it reads like nothing but the service tag is required for it to work. Examples:

https://docs.contao.org/dev/framework/hooks/#using-annotations
https://docs.contao.org/dev/framework/content-elements/#annotation

This however is not correct for bundles, where the services.yml needs some adjustment as well. This can lead to co

[2020-08-31 09:05] fritzmg commented on #557
That is true for the application (based on the Contao Managed Edition), which the docs mainly cover.

That is mentioned in the _Getting Started_ article on [_Creating an Extension_](https://docs.contao.org/dev/getting-started/extension/#service-configuration).

[2020-08-31 09:28] mwoelke commented on #557
Yes, I found this as well. After reading it I assumed that simply adding
[code]
will do the trick.

However, as yourself explained in the linked issue above, you have to implicitly add your class as well like so:
[code]

or

[code]

This may seem obvious to developers more familiar with Symfony, but it wasn't to me.

[2020-08-31 09:34] fritzmg commented on #557
That is the case 👍

That is mentioned in the _Getting Started_ article [_Starting your Development_](https://docs.contao.org/dev/getting-started/starting-development/#autoloading-services-and-actions). If you are still unfamiliar with either Contao 4 or Symfony, then reading through the Getting Started articles is essential.

[2020-09-01 13:58] fritzmg opened #558 "Taxonomy does not work anymore"
The contents of each tag in https://docs.contao.org/dev/tags/ are currently empty. I recently updated the deployment image to the recent Hugo version, may be this occurs since then.

[2020-09-04 07:54] Tastaturberuf opened #562 "Add eval field 'storeFile'"
[code]

https://contao.slack.com/archives/CK4J0KNDB/p1599139409210600

[2020-09-04 08:48] fritzmg commented on #562
Hm, this is a tricky one, as this attribute is specific to the _front end_ form field `FormFileUpload`. Thus putting it into the `eval` documentation of the DCA would not be entirely correct, as it has no meaning in the back end.

[2020-09-07 02:13] github-actions[bot] opened #564 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [x] URL "https://docs.contao.org/manual/en/artikelverwaltung/inhaltselemente/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/manual/en/core-extensions/faq/faq-management/
- [x] URL "https://docs.contao.org/manual/en/system/einstellungen/" seems broken (HTTP status code 404). Found on: https://docs.conta

[2020-09-07 05:02] #564 closed, assigned to nobody

[2020-09-11 06:37] mwoelke commented on #557
The text and examples given in the _Getting Started_ article all refer to classes in the _App\\_ namespace where behaviour is slightly different.

Maybe I'm wrong, but from my understanding in order to register a service annotation in the App\\ namespace the following code is sufficient (taken from the same article):

[code]

However, I don't see any mentioning about having to pass the _['terminal

[2020-09-11 07:23] fritzmg commented on #557
You don't need to do that, if you enabled auto configuration. See https://docs.contao.org/dev/getting-started/extension/#service-configuration and the README of https://github.com/terminal42/service-annotation-bundle

[2020-09-11 07:41] fritzmg commented on #557
Although, is that still true without the `ServiceAnnotationInterface` @aschempp? The new README only briefly mentions auto configuration.

[2020-09-20 15:31] fritzmg commented on #558
See https://github.com/matcornic/hugo-theme-learn/pull/444

Should be fixed now.

[2020-09-20 15:31] #558 closed, assigned to nobody

[2020-09-20 16:01] fritzmg commented on #29
These topics are all now covered in the [Getting Started](https://docs.contao.org/dev/getting-started/) section of the dev docs.

[2020-09-20 16:01] #29 closed, assigned to nobody

[2020-09-20 22:27] fritzmg commented on #83
This is because the Learn Theme by default also does a "fuzzy" search where up to two characters can be added, removed or transposed for a match to occur. This allows you to see matches even if you don't type the word exactly - which is mostly useful for more complicated words. Though obviously it will lead to more false positives, the shorter the word is.

However, exact matches are always ranked

[2020-09-20 22:27] #83 closed, assigned to nobody

[2020-09-21 05:34] fritzmg commented on #557
As far as I tested, tagging the service is not necessary.

@mwoelke given the information above, do you have any suggestions on what to improve in the docs, if necessary?

[2020-09-21 06:48] #49 closed, assigned to nobody

[2020-09-21 13:40] bytehead commented on #527
I've updated the docs, but cannot reproduce the issue with the non-existent service.
@anniahoi did you configure `config/packages/security.yaml` properly?

[2020-09-22 12:35] frontendschlampe commented on #467
Ich sitze mal wieder an einer Checkliste zum Datenschutz und stolpere wieder über das Thema Speicherzeiten. Dazu kommen hier noch Infos zum Versand von Formularen, Registrierungen (Newsletter, Mitglieder) usw.

Ich würde gern eine entsprechende Seite mit den Infos anfangen und mit den entsprechenden Einstellungsmöglichkeiten versehen.

Wo denkt ihr, wäre so eine Seite gut aufgehoben? Vielleicht wä

[2020-09-22 12:37] netzarbeiter commented on #467
Im Handbuch unter Anleitungen > Datenschutz

[2020-09-22 12:43] frontendschlampe commented on #467
Ok ... dann fange ich mal an, aber ich denke, da werden wir noch sehr viel ergänzen müssen, denn ich habe die entsprechenden Infos einfach nicht. ;-)

[2020-09-23 08:43] mwoelke commented on #557
I'll try to set up a public bundle to reproduce the tagging issue I had.

Hopefully this weekend :)

This will either draw attention to some problem with service tags  _or_ some mistake I made. Probably the latter... 😉

[2020-09-27 09:45] mwoelke commented on #557
First of all: Thank you for bearing out with me on this one :)

I've now setup an example plugin to show the behavior I mentioned:
https://github.com/mwoelke/contao-serviceannotation-example

Uncommentating these two lines in services.yml adds the content element to the container for me, otherwise it's not working:

[code]
Maybe someone can have a look at the bundle and point out why the tagging i

[2020-09-27 09:59] fritzmg commented on #557
The problem is that you did not register your service. Thus the service cannot be tagged automatically - since there is no service to be tagged to begin with 😉.

In your case, the `services.yml` could look like this for example:

[code]

Since you were also planning on using auto-wiring ([which you should not do for public bundles](https://symfony.com/doc/current/service_container/autowiring.html#

[2020-09-27 10:22] mwoelke commented on #557
Ah yes, that's what I thought :)
I just couldn't find that in the docs until now, though I've just found a mentioning:

https://docs.contao.org/dev/getting-started/starting-development/
"Any of these classes can also be registered as Symfony services, _which is necessary if you want to use dependency injection and service tagging_."

There is an example, but it is using autowiring. Maybe there sho

[2020-09-27 10:31] fritzmg commented on #557
As already said, all the examples in the documentation primarily pertain to the usage within the application. Apart from that, the _Getting Started_ section does include an article outlining the necessary steps on how to create a reusable bundle (= Contao extension): https://docs.contao.org/dev/getting-started/extension/.

You can use autowiring in "prod" - it's just that you should not do it for

[2020-09-27 10:47] mwoelke commented on #557
Thank you for your quick responses.

I am closing this and will leave the bundle up for reference, mentioning my mistake.

[2020-09-27 10:47] #557 closed, assigned to nobody

[2020-09-28 09:25] aschempp commented on #557
Sorry this is a bit confusing. Service annotations work without any tag or interface since v1.1, therefore they do not need `autoconfigure` anymore. However, service annotations **only work for services**, so you MUST make sure the service is loaded into the container at build time. You can either do that by adding ever class to your `services.yml`, or you can automatically wire a namespace (which

[2020-09-30 14:48] fritzmg opened #574 "Sending via SMTP guides"
As discussed on slack it might make sense to create a new "Sending via SMTP guide" where information about specific configurations for different email providers can be collected. For example, how to use the SMTP relay functionality (without authentication) from Google G Suite or Office 365 for example.

[2020-10-01 08:52] netzarbeiter opened #575 "Update contao locally"
Explain how Contao can be updated locally without the Composer Resolver Cloud.

[2020-10-01 09:21] fiedsch commented on #575
This is what I am doing to update my sites where memory is short and I do not want to use cloud resolver resources for no reason. So if I can help by describing the process or supply code examples: let me know!

[2020-10-01 09:29] netzarbeiter commented on #575
It would be great if you could write this post, then we could refer to it in the discussion board in case of problems. May I assign this issue to you?

[2020-10-01 09:32] fiedsch commented on #575
Yes.

I certainly will need your help in some aspects. To start with: where would I put that within the documentation structure? I would start to write the german part and the translate to english, once that is published. Correct?

[2020-10-01 09:36] fritzmg commented on #575
Ideally we will add the English translation directly to your PR, before it is merged, so that English and German stays consistent

[2020-10-01 09:48] netzarbeiter commented on #575
I would put it either [here](https://docs.contao.org/manual/de/installation/contao-aktualisieren/) or as a separate point directly below.

[2020-10-06 14:25] fkaminski opened #576 "Instruction/Guide for Frontend features with different implementation options"
For the Guides Section.
Target:
By example: Animated filtering of content in the frontend.
Description of the various Contao options for implementation (with corresponding advantages and disadvantages):

- > With an extension
- > Without extension
- > With Rocksolid Custom Elements

Please asign to myself

[2020-10-09 16:05] aschempp commented on #48
The `FrontendPreviewToken` is set if you click on the "show in frontend" link in the backend. If you manually enter the `preview.php` url, the token will not be set. (as far as I know)

[2020-10-14 13:18] fkaminski opened #582 "Guide - Examples with the module "Auflistung""
Some practical examples of the "Auflistung" module.
Please asig to myself

[2020-10-14 13:19] fkaminski opened #583 "Guide - Options for using Webfonts"
...
Please asign to myself.

[2020-10-14 18:54] GottZ opened #584 "Document how to use MySQL / MariaDB UDS instead of TCP in parameters.yml"
Today i noticed, you can omit `database_host` and `database_port` inside `parameters.yml` to let Doctrine use `/run/mysqld/mysqld.sock`, or what ever is configured in php.ini's mysqli section, instead.

https://github.com/doctrine/dbal/blob/16878650d79934c31e27a13618ed6f3effee80d8/lib/Doctrine/DBAL/Driver/Mysqli/MysqliConnection.php#L67

I assume it would be great to either add `database_unix_sock

[2020-10-16 09:42] frontendschlampe commented on #467
also ich habe mal in meinem Fork damit angefangen, die verschiedenen Infos zu dokumentieren, aber es ist ganz schön umfangreich! :-/ Die Infos sind aus Checklisten und Fragen verschiedener Anwaltskanzleien und Datenschutzbeauftragten zu verschiedenen Kundenwebsites. Vielleicht hat ja jemand noch mehr und vor allem technische Infos. Es sind teilweise erstmal nur wilde Notizen/Gedanken, die ich jetz

[2020-10-20 14:59] fkaminski commented on #582
Wie mit @netzarbeiter auf Slack vereinbart mit folgender Beispiel-Anwendung (basierend auf Contao Bordmitteln):

- Listen Darstellung von Mitgliedern zusammen mit einer Karten Anzeige entsprechender Mitglieder via
(Openstreetmap / leaflet) - optional mit Cluster Anzeige (https://github.com/Leaflet/Leaflet.markercluster)

Bezüglich des Geo-Codings wollte ich drei Möglichkeiten vorstellen:

1. Via m

[2020-10-21 15:30] fkaminski commented on #582
Maybe @fritzmg could help with this?
See also https://community.contao.org/de/showthread.php?79207-DCA-tl_member-Manipulation ...
(Sorry for pushing)
Otherwise I would limit - at first - to examples with manual specification and use of the widget extension (see above) regarding the auto geo search ...

[2020-10-21 16:26] fritzmg commented on #582
That seems pretty advanced for a listing-bundle guide. Especially if you want to build your own back end widget - that would be its own guide for the dev docs ;). Instead of building your own widget, I would simply do it with a `save_callback` on the coordinates text field. But still, I think that is way out of scope for a listing-bundle guide.

[2020-10-22 06:56] fkaminski commented on #582
Thank you.
Since I am describing how to create another member field anyway, I thought it would be a useful addition. But I wanted to be able to trigger it somehow optional and not generally when saving.
Let's see, I will first implement it as discussed ...

[2020-10-22 07:45] fritzmg commented on #582
Well you could add a checkbox "Update geo information on save". But still, do you really want to add it to such a guide? Imho this has nothing to do with how to use the listing-bundle.

[2020-10-22 08:17] fkaminski commented on #582
Will try. Maybe you are right and it could be explained in more detail later in a new guide ...

[2020-10-22 08:21] fritzmg commented on #582
In the dev docs ;)

[2020-10-22 12:27] fkaminski opened #589 "contao-console Commands cache:clear and cache:warmup"
Is it possible that the following console commands (Managed Edition) are not mentioned anywhere?

- vendor/bin/contao-console cache:clear --no-warmup
- vendor/bin/contao-console cache:warmup

https://docs.contao.org/dev/reference/commands/

[2020-10-22 12:41] fritzmg commented on #589
The documentation currently only mentions contao specific commands. Unfortunately there is no documentation on all the available symfony commands. However, you can list all commands with `list` and for each command you can get more information with `--help`. We could add that information to the reference.

[2020-10-22 16:19] fkaminski commented on #589
reopened ??? What can i do?

[2020-10-22 16:51] fritzmg commented on #589
I reopened it as a reminder to myself:

[2020-10-23 15:15] fkaminski opened #592 "DCA manipulation helpwizard / explanation / explain.php"
Perhaps an example of this constellation would be helpful.
So own, multilingual, help texts via helpwizard/explanation and separate contao/languages/de/explain.php / contao/languages/en/explain.php files via

[code]

[2020-10-26 12:12] bytehead opened #593 "Update "Use Contao 4.9 in Symfony application""
For me as a reminder until https://github.com/contao/contao/pull/2321 is released.

[2020-10-26 12:12] bytehead commented on #593
@fritzmg can you assign me this please, thanks!

[2020-10-29 14:10] fkaminski opened #594 "Update »Datenbanktabellen aktualisieren« via Konsole"
In https://docs.contao.org/manual/de/installation/contao-installieren/#datenbanktabellen-aktualisieren-1
wird die Datenbanktabellen Erstellung/Aktualisierung über:

`vendor/bin/contao-console contao:migrate`

erwähnt/vorgestellt.
Evtl. wären hier weitere Angaben bez. der notwendigen Konfigurations Voraussetzungen über die `.env ` bzw. `config/parameters.yml ` hilfreich (wie heute auf Slack besproc

[2020-10-29 14:51] fkaminski commented on #594
Maybe with a hint in https://docs.contao.org/dev/reference/commands/#contao-migrate too...
(Currently it reads as if this could only be used for updates)

[2020-10-29 15:08] fritzmg commented on #594
It can be used for migrating the database, no matter if it is a fresh installation, or an update. Why would it only able to be used for updates? Or what do you mean by "updates"?

Can you provide a PR? ;) You just have to mention that the database credentials need to be defined first, no matter which way.

[2020-10-29 15:55] fkaminski commented on #594
Now i know too. But:

could be translated with:

So - maybe it could be misunderstood ...

I will ry to describe it - Please asign to myself

[2020-10-29 15:56] fritzmg commented on #594
Ah, I see what you mean now. Yeah, the description should be more general.

[2020-10-30 12:42] #594 closed, assigned to fkaminski

[2020-10-30 12:42] #583 closed, assigned to fkaminski

[2020-10-30 12:46] #576 closed, assigned to fkaminski

[2020-10-30 14:35] #575 closed, assigned to fiedsch

[2020-11-01 23:55] fritzmg commented on #592
See #605

[2020-11-01 23:55] #592 closed, assigned to fritzmg

[2020-11-02 00:02] fritzmg commented on #584
Do you mean

[code]

? This is documented here: https://symfony.com/doc/current/reference/configuration/doctrine.html

I suppose the manual could reference this somewhere in a section for more advanced configurations.

[2020-11-04 15:28] fkaminski opened #606 "Guide: Using CSS Animation within Contao"
A few practical examples for using and integrating CSS animations.
Maybe with examples like:

- https://github.com/animate-css/animate.css?files=1
- https://wowjs.uk/
- http://imakewebthings.com/waypoints/

Please assign to myself ...

[2020-11-04 15:31] fkaminski opened #607 "Guide: First Navigation (desktop and mobil)"
As a further complement to:
https://docs.contao.org/manual/de/anleitungen/die-erste-startseite/
https://docs.contao.org/manual/en/guides/add-first-index-page/

Please assign to myself ....

[2020-11-09 02:00] fritzmg commented on #478
See #604

[2020-11-09 02:00] #478 closed, assigned to fritzmg

[2020-11-10 07:24] zonky2 commented on #606
extension for wowjs: https://github.com/inspiredminds/contao-wowjs

[2020-11-10 10:09] fkaminski opened #610 "Update Guide Grid System Introduction"
https://docs.contao.org/manual/de/anleitungen/grid/
https://docs.contao.org/manual/en/guides/grid-system/

Update with more practical examples ( like erdmannfreunde/euf_grid - with or without extension ) ...
Please assign to myself

[2020-11-12 12:24] fritzmg commented on #476
See #609

[2020-11-12 12:24] #476 closed, assigned to fritzmg

[2020-11-12 12:24] fritzmg commented on #477
See #609

[2020-11-12 12:24] #477 closed, assigned to fritzmg

[2020-11-16 02:12] github-actions[bot] opened #613 "Link Checker Report"
# Link Checker Report

The Link Checker found the following issues:

- [ ] URL "https://docs.contao.org/dev/templates/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/framework/front-end-modules/
- [ ] URL "https://docs.contao.org/dev/caching/" seems broken (HTTP status code 404). Found on: https://docs.contao.org/dev/framework/front-end-modules/

[2020-11-16 13:23] fkaminski commented on #582
Closing if you do not mind because of #611

[2020-11-16 13:23] #582 closed, assigned to fkaminski

[2020-11-16 14:16] #613 closed, assigned to nobody

[2020-11-16 15:58] fiedsch opened #615 "Image Links broken"
The `en` screen shots introduced in #602 are broken in the generated pages.

Not having installed hugo locally I did not test that (my bad).

I created an `en` subdirectory to contain the english images and changed the path by switching from `de` to `en` which leads to (e.g.) `https://docs.contao.org/manual/en/installation/images/en/disable_cloud_resolver.png`.

My first guess was that I forgot to

[2020-11-16 16:07] netzarbeiter commented on #615
The correct path is `https://docs.contao.org/manual/de/installation/images/en/disable_cloud_resolver.png`.

Has been changed.
https://docs.contao.org/manual/en/installation/update-contao/

[2020-11-16 16:07] #615 closed, assigned to nobody

[2020-11-16 17:09] fiedsch commented on #615
Thanks, Bjarke.

But does the image path‘s first `de` make sense? The path of the english page is https://docs.contao.org/manual/en/installation/update-contao/ with `en` at the respective place.

[2020-11-16 17:11] netzarbeiter commented on #615
No, but is a (un)known limitation of our setup.

[2020-11-19 07:12] netzarbeiter opened #617 "sitemap.xml"
As discussed in Mumble on October 22nd, we all agree that a page that is marked as "noindex,follow" should be crawled and therefore should be part of the sitemap.xml file. If Google has a problem with "noindex,follow", then simply use "index,nofollow" if you want to make the tool happy.